[2019-05-14 06:34] FBakkensen opened #1 "Error in NAB: Refresh XLF Files from g.xml"
Hi,

When i execute the the refresh i get an error, "cannot read property to of undefined" possible because of me doing something wrong.

I have attached my small project if it can be of any help.

[BSF2.zip](https://github.com/jwikman/nab-al-tools/files/3176137/BSF2.zip)

[2019-05-14 08:28] #1 closed

[2019-05-14 08:33] jwikman commented on #1
Thanks for reporting this.
With your repro this was quite easy to fix. :)

I just published v0.3.13 to adress this issue, it could take a few minutes to show up in marketplace.

Give it a go and get back  if this didn't help!

[2019-06-25 19:32] jwikman opened #3 "New feature: "Copy Source""
When inside a [NAB: REVIEW/NOT TRANSLATED] <target>, select "Copy Source" to copy the text from <source> and replace any text in Target.

[2019-06-25 22:48] jwikman commented on #3
In v0.3.20

[2019-06-25 22:48] #3 closed

[2019-07-17 14:39] geraldbeaulieu877 opened #5 "Empty elements are replaced with self-closing tags"
Hi,

the command  (NAB: Refresh XLF files from g.xlf) change the note from note

from:
 <note from="Developer" annotates="general" priority="2"></note>

to:
<note from="Developer" annotates="general" priority="2"/>
 THE CLOSING NOTE IS LOST

Then I open the xlf file with a Multilangual Editor for translate, the comment (note) is missing and at the save file, the note line is missing.

Gerald

<not

[2019-07-17 20:20] jwikman commented on #5
Hi @geraldbeaulieu877
I don't really understand your issue.
Can you please provide samples, like pictures or sample xlf files (both source and target xlf file), and I'll look into it.
And what Multiliangual Editor are you using?

[2019-07-22 12:30] geraldbeaulieu877 commented on #5
Hi,
look the note tag in original xlf and the note on the fr-CA file. The trealer note is missing after the command (NAB: Refresh XLF files from g.xlf)
the </note> is missing

[ReportBC.Fr.zip](https://github.com/jwikman/nab-al-tools/files/3417326/ReportBC.Fr.zip)

[2019-07-22 12:31] geraldbeaulieu877 commented on #5
Sorry, the </note> is missing

[2019-07-22 18:53] jwikman commented on #5
@geraldbeaulieu877  Aah, you are referring to that
`<note from="Developer" annotates="general" priority="2"></note>`
is replaced by
`<note from="Developer" annotates="general" priority="2"/>`
?

That is due to that the xliff document is an xml document and is read into an XML Dom, parsed, modified and then saved to disk. In XML both above note elements are treated as identical.  If there are no te

[2019-07-23 13:10] geraldbeaulieu877 commented on #5
I understand,

here is the problem, I use NAB (very powerfull) for the addition of new caption to translate and later I use the Multilingual Editor program from Microsoft for the suggest language. Unfortunately, the Multilingual removes the notes tag lines that not closing tag. And your NAB gives an error (Cannot read property 'textContent' of undefined) if <trans-unit .. has no note tag line.

so

[2019-07-23 22:35] jwikman commented on #5
@geraldbeaulieu877  Ok, that explains it.
Then you actually found another issue, that the command fails if there are no note element.
I've adressed both issues:
1. Self-closing tags are now replaced with regular end tags (a regex hack since the xml dom didn't support this)
2. if a note is missing it is re-added from the source file (g.xlf)

You can grap the vsix file with these changes here (unzip

[2019-08-15 07:46] jwikman commented on #5
@geraldbeaulieu877 have you had the chance to test this?

[2019-09-09 12:12] ThabetMejri commented on #5
@jwikman
I tested and it works very well.
Thank you very much

[2019-09-11 06:50] larswestman opened #8 "Support for runtime 4.0"
When refreshing xlf files I get this error: "...Unexpected token in JSON at position 1257"

Runtime 4.0 has introduced a new attribute on table and page extensions called "al-object-target" which refers back to the trans-unit id (I guess) of the extended object

[2019-09-11 06:59] FSharpCSharp opened #9 "Automatic search for similar translations"
Here is a function requirement: When "synchronizing" the language files based on the file generated by the system (*.g.xlf), it would be nice if the system could automatically check whether the missing text has already been translated if translations are missing. If only one version of the text has been translated, it could theoretically be used directly as a new translation. If there are more tha

[2019-09-11 20:16] jwikman commented on #9
Thanks for your suggestion!

I'll look into this when I get some more time for this.
It should be quite straight forward if there are only one matching translation, but having several matching translation will be a challenge. I'll have to think some more about that.

Performance could be an issue, so maybe I'll have to add a setting for activating/disabling this feature.

[2019-09-13 07:28] FSharpCSharp commented on #9
It is clear that this is not so easy to implement. But in my eyes this would improve the daily work considerably. And because working with the whole XLIFF topic is no fun at all, I am grateful for every improvement.

[2019-09-13 07:31] FSharpCSharp opened #10 "Editing the texts in a DataGrid instead of in the file"
Here is another suggestion for improvement. So far the support by the system is only on XML file level. It would be best if this could be taken one step higher. I was thinking of a kind of DataGrid. There are already many in the JavaScript environment, [which](https://datatables.net/) one could integrate relatively simply into VSCode. If that were still inside then you could navigate through the t

[2019-09-13 08:02] jwikman commented on #10
Thanks for the suggestion, interesting idea!

If you find the time for this before me, you're welcome to create a Pull Request if you can solve this yourself! :)

[2019-09-13 08:05] jwikman commented on #9
One idea to help with the duplicate texts with different translations is to add a new command to identify duplicates that have different translations. In that way you could prevent this before refreshing the xlf files, and let the refresh just pick the first duplicate translation found...

What do you think of that approach @FSharpCSharp?

[2019-09-13 10:16] FSharpCSharp commented on #9
@jwikman
That sounds like a great solution. You are welcome to add it to your backlog.

[2019-09-13 10:19] FSharpCSharp commented on #10
Don't worry, I would have already created a pull request for it. But unfortunately my time doesn't allow me to delve into something like this at the moment. That is why I think it is all the better that you have taken this topic into your own hands and offer possible solutions here. Everything works better than the tools provided for development. With the standard tools, at least from my personal

[2019-09-15 21:15] jwikman commented on #5
Published in v0.3.22

[2019-09-15 21:15] #5 closed

[2019-09-15 21:18] jwikman opened #13 "Identify differently translated texts"
Idea from #9

A function to identify duplicate texts with different translations.

Implement with a filter in the new Edit xlf Webview
  - [x] Filter out all trans-units that has same source but different targets
  - [x] Sort on source to group them
  - [x] F8 to copy target from line above

[2019-09-16 09:10] jwikman commented on #8
Not an issue with the extension, but wrongly formatted app.json. :)

[2019-09-16 09:10] #8 closed

[2019-10-22 14:59] theschitz opened #14 "NAB: Refresh XLF files from g.xlf - fails if invalid chars in app name"
AL Language extension automatically strips and/or replaces invalid characters when generating the *.g.xlf file.

For example (app.json):

Generates

No problems so far, but when running **NAB: Refresh XLF files from g.xlf** you get the error:

nab-al-tools is using the app name from app.json to find the g.xlf which in this case breaks since the invalid chars in the app name is removed from the fil

[2019-10-23 12:44] jwikman commented on #14
Included in v0.3.23

[2019-10-23 12:44] #14 closed

[2019-12-02 10:12] jwikman opened #16 "'MlToken RegExp failed' thrown if wrong casing used for properties"
Repro:
Use the property "Tooltip" instead of "ToolTip" in a page and use F12 from xlf file.

[2019-12-02 10:19] #16 closed

[2019-12-05 10:55] theschitz opened #17 "Use state property in xlf-files"
XLIFF files have an attribute in the state-tag that can be used to flag translations that need an action. In cases where an external translation tool is used it would be more helpful if the state flag was used instead of inserting the searchable string.

## Suggested changes

- [x] Add a new setting to switch the behaviour between the current string insertion and using the state flag.
- [x] When t

[2019-12-09 08:07] #17 closed

[2019-12-09 16:36] theschitz opened #23 "Improving FindNextUntranslatedByToken"
FindNextUntranslatedByToken skips ReviewToken. Due to the function always searching for NeedsTranslationToken first.

https://github.com/jwikman/nab-al-tools/blob/4314c4698670ba3534fd9e2647348f0708e2be39/src/LanguageFunctions.ts#L53-L65

**Proposed solution**
Altough the naming of the function corresponds to how it works. I propose that it should find the closest string in need of attention.

**Al

[2019-12-09 16:45] jwikman commented on #23
We could modify DocumentFunctions.searchTextFile() to use an array of search strings, and then we search for them all but only returns the one with lowest position?

That could also make FindNextUntranslatedByState() a bit cleaner...?

[2019-12-09 16:45] jwikman commented on #23
This would probably come with a performance penalty, though...

[2019-12-09 17:56] theschitz commented on #23
I had something like that in mind. If we could store the result of a full search it might be worth the penalty. Where could we store it? I found a reference for [Memento](https://code.visualstudio.com/api/references/vscode-api#Memento) "A memento represents a storage utility. It can store and retrieve values."

[2019-12-09 18:05] jwikman commented on #23
I'm not sure it's worth saving the results... The results are pretty much worthless after the file is modified, aren't they?

[2019-12-09 18:35] jwikman commented on #23
Hmm, probably the call to `fs.readFileSync()` takes 99% of the time in that function... Since that only needs to be done once, it might not be as bad as I first thought. Maybe worth a try?

[2019-12-09 23:23] theschitz commented on #23
So this is a pretty neat solution which easily can replace the two separate functions and be called directly from FindNextUntranslatedText() without to much CC added.

https://github.com/theschitz/nab-al-tools/blob/d40948e3bdaa2a2b6924015b8b6f0024b20f3bc6/src/LanguageFunctions.ts#L53-L88

Works like a charm on smaller xlf-files. You would happen to have any mega ones around? 🗡

[2019-12-09 23:47] jwikman commented on #23
Will test with the xlf file from the base application tomorrow 😃

[2019-12-10 08:25] jwikman commented on #23
Seems to work just as intended. Speed is pretty much the same as before (probably the fs.readFileSync() taking time).

As long as the xlf is less than 50mb, that is. It seems as if there's a limitation for VSCode Extensions that they aren't allowed to work with files larger that 50mb. (The base application xlf file was 60+mb)

Flip in a PR!

[2019-12-10 15:57] theschitz commented on #23
Resolved in 884698a

[2019-12-10 15:57] #23 closed

[2019-12-10 16:02] jwikman commented on #23
Released in v0.3.24

[2019-12-10 16:02] jwikman commented on #16
Released in v0.3.24

[2019-12-10 16:02] jwikman commented on #17
Released in v0.3.24

[2019-12-11 16:59] theschitz opened #25 "Xliff - Add <note> when there's an issue found within in the translation unit"
There is many possible errors that could be found within a translation unit. It would be nice to have a note that pointed out what the tool deemed as an error.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-06 10:21] MartinKNDK opened #26 "Search in NAB:Find Untranslated texts leaves *.xlf filter"
Hi

I use the "NAB:Refresh XLF files from g.xlf file" a great deal, after that i usually use "NAB:Find Untranslated texts" - both works great and really helps me a lot working with translations in files.

Sometimes i need to search for something else in all files, eg. a variable name or a special tag. In that case i have noticed the search all files filter is still filled with "files to include" s

[2020-02-06 10:48] jwikman commented on #26
Hi @MartinKNDK,

Yes I noticed that a few times myself since we added the *.xlf file filter... We added that filter to improve the "Search In Files" when having a large number of files, as in the Base Application.

But I'm not using  "NAB:Find Untranslated texts" that often, since I find "NAB: Find next untranslated text" (Ctrl+Alt+U) faster to work with.
Anyway, the same behavior, with *.xlf file

[2020-02-06 12:48] theschitz commented on #26
@MartinKNDK  thank you for the feedback :)

@jwikman At first glance this seems like a clean up issue? That the search filters needs to be reset in code after the query has been handled. I don't know if this is possible, unless you know I'll dive in to the docs and see what I can find :)

Otherwise a setting would be the only solution that I can see at the moment.

[2020-02-06 13:39] jwikman commented on #26
@theschitz I don't think that's possible without side-effects...
(I implemented the the FindInFiles in VSCode, and we didn't think of that scenario then...)
We could do another search right after the first one without triggerSearch and without filesToInclude, but then if you want to refresh the FindInFiles result list, it'll perform a search in all files again...

I put my vote on a setting, and I

[2020-02-06 13:44] theschitz commented on #26
@jwikman haha I was just reading through that PR and it's commits :D Also my search came up empty.

[2020-02-06 14:23] MartinKNDK commented on #26
@jwikman The setting option would work fine with me. I usually work on smaller sets of *.al files (20-50),  so i would personally use it. If there would be a small performance penalty i would be outweighed by the time used to remove the filter manually ;-)

[2020-02-06 14:26] jwikman commented on #26
@MartinKNDK yes, and the time it takes until you figure out why you don't get any search results... ;-)

We'll look into it!

[2020-03-04 08:31] apoyas opened #27 "Please add a feature to convert from deprecated multilanguage syntax"
Hello

Since the multilanguage syntax is being deprecated, would it be possible to add a feature, which would do the conversion to the new syntax and generate xlif files?
How do I see it:
- find all the "ML" versions of properties like CaptionML, ConstValueML, InstructionalTextML, OptionCaptionML, PromotedActionCategoriesML, ReqFilterHeadingML, RequestFilterHeadingML, ToolTipML and TextConst data

[2020-03-04 10:01] jwikman commented on #27
Hi @apoyas

I do agree with you that this feature would be great, but it will take quite som effort to do this.

I would suggest that you request this feature from Microsoft instead ([https://github.com/microsoft/AL/issues](https://github.com/microsoft/AL/issues)) , since I think that it should be done in the AL Language Extension. It would be a LOT easier for them to solve, since they have a data

[2020-03-09 07:40] apoyas commented on #27
Thanks @jwikman
Created a request for Microsoft
https://github.com/microsoft/AL/issues/5712

[2020-03-31 11:16] jwikman commented on #26
@MartinKNDK this should be solved in v0.3.25 that is available now.

In large projects (as the Base Application) I recommend enabling this feature by enabling the new setting : "Search Only Xlf Files

[2020-03-31 11:16] #26 closed

[2020-04-02 11:29] #9 closed

[2020-04-02 11:31] jwikman commented on #9
@FSharpCSharp this feature will be shipped in the next update (due soon...)

From the changelog:
- New setting NAB.MatchTranslation
  - If enabled, the "NAB: Refresh XLF files from g.xlf" function tries to match sources in the translated xlf file to reuse translations. A found match of "source" is then prefixed with [NAB: REVIEW] for manual review. If several matches are found, all matches are add

[2020-04-02 11:34] jwikman opened #31 "Match translated texts from an external xlf file"
When copying code from other projects the translated texts will not be included. So after the code is built and the xlf file is refreshed from g.xlf there will be a lot of untranslated texts.

We need a new feature to match translations from a xlf file that the user picks.

[2020-04-02 12:35] #31 closed

[2020-04-27 13:42] phenno1 opened #35 ""No workspace found" error when using "Refresh XLF files from g.xlf" action"
Randomly, but rather often, I receieve "No workspace found" error when executing "Refresh XLF files from g.xlf" action. I cannot clearly reproduce error, but it mostly happens when project is opened for the first time in new VS Code session. It appears that this will produce error only if there is something to be updated in xlif file. "Developer: Reload Window" usually helps so next time refresh w

[2020-04-28 21:53] jwikman commented on #35
A lot of VS Code extension depends on the open Workspace, and so does this extension too.
But as VSCode is implemented the extension does not know what workspace folder you work with if you have no active editor open.

So if you get this error, simply open any file in your workspace folder - and now our extension knows where to look for xlf files etc.

If this is not the case for you, we might hav

[2020-04-29 07:01] phenno1 commented on #35
It seems you are right. It is enough to open a file from workspace at least one more time after package was built and error will no longer appear.

Thank you, I will close this issue.

[2020-04-29 19:16] jwikman opened #36 "File '' does not have valid object name, it has too many double quotes (")"
**Describe the bug**
Files that has a implement statement in the object descriptor line fails with error:
`File '' does not have valid object name, it has too many double quotes (")`
Two issues
1. File name is empty in error message
2. The extension cannot parse object name and fails all features that depend on this.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a codeunit with "imp

[2020-04-29 19:29] theschitz commented on #36
Nice find!

[2020-04-29 19:41] jwikman commented on #36
and an annoying one ;-)

[2020-04-29 20:08] jwikman commented on #35
@phenno1 I'm trying to improve the error message a bit in the next release.
Will this be enough you think?
`No workspace found. Please open a file within your workspace folder.`

[2020-04-29 20:47] #36 closed

[2020-04-30 06:41] phenno1 commented on #35
How about:

No workspace found. Please open a file within your workspace folder and try again.

[2020-04-30 07:44] jwikman commented on #35
Perfect, I'll add that.

[2020-04-30 07:45] phenno1 commented on #35
That would be great, thank you!

[2020-04-30 07:48] jwikman commented on #35
@phenno1, Your message will be added in the next release.
In v0.3.29, released yesterday, you'll see "No workspace found. Please open a file within your workspace folder."

[2020-05-03 13:13] theschitz opened #38 "Build leaves files in outDir"
**Describe the bug**
When building the extension the `outDir` (out/*) existing files are not removed. This becomes an issue when switching between branches where file A exists in branch A but not in branch B - file A would still be present in out/*, if branch A was built (which is quite likely).

**To Reproduce**
Steps to reproduce the behavior:
1. Create branch A.
2. Create new testsuite in `A.te

[2020-05-05 07:50] theschitz commented on #38
So the most interesting option I found was `tsc -b --clean` which also has nice `--dry` option which performs a dry run.

[code]
[code]
However it seems like the compiler only cares about files present in the build, so left over files from builds in other branches won't be handled. `tsc -b --clean` seems to be a better option since both `tsc -p` and `tsc -b` builds with tsconfig.json (or could be

[2020-05-05 07:50] #38 closed

[2020-06-12 12:33] jwikman opened #40 "Auto generate ToolTips"
**Is your feature request related to a problem? Please describe.**
When having an large existing solution, it is very time consuming to add tooltips to all page fields and actions. Having the tooltip rule (AA0218) disabled until all tooltips are added tends to results in even more controls and actions missing tooltips.

**Describe the solution you'd like**
A function that auto generates the ToolTi

[2020-06-16 10:11] jwikman commented on #40
First iteration of this will add texts "Specifies the [field caption in lowercase]" for fields and "[Action caption]" for actions.

[2020-06-16 10:15] #40 closed

[2020-08-25 14:40] achim-t opened #43 "Self closing html tags lead to corrupted translation file"
**Describe the bug**
Including a self closing html tag such as `<br/>`  or `<img/>` in a label, and letting NAB create a translation, will result in a corrupted translation file.

**To Reproduce**
[code]
The compiler creates this file.
[code]
'Refresh xlf Files' creates this corrupted file. Notice the two closing source tags.
[code]

The translation file isn't readable at all and will be ignored b

[2020-08-26 07:08] jwikman commented on #43
Hi @achim-t

Thanks for reporting this, quite annoying bug.

It seems that the source of this bug is inside the XML module that we use for this extension (see https://github.com/xmldom/xmldom/issues/22 for details)

We'll try to workaround this if we can. Otherwise we need a fix in the xmldom module.

The workaround in AL, for now, is to avoid > characters in translations. The html tags shouldn't

[2020-09-03 06:10] achim-t commented on #43
Thank you for the AL workaround, I'll use that for now.

[2020-09-22 08:17] jwikman opened #44 "Generate ToolTips MarkDown file"
**Generate ToolTips MarkDown file**
In the AL project we have a lot of documentation in the form of ToolTips. We also have a Docs site where the apps are documented.
We need a new function that generates some of the documentation from the AL code to avoid maintaining in two places.

**What to generate**

- one MarkDown (MD) file per app and language (from supportedLocales in app.json)
- a H1 heade

[2020-09-22 08:24] jwikman commented on #44
**EXAMPLE**

# My App

## Page Extensions

### Customer Card

| Type | Caption | TooTip |
| ----- | --------- | ------- |
| Field | My Field | Specifies the data of my field |
| Field | My Field 2 | Specifies the data of my second field |
| Action | Open something | Opens something on the web |

## Pages

### My Card

| Type | Caption | TooTip |
| ----- | --------- | ------- |
| Field | Code | Spe

[2020-09-24 10:03] StevenHit opened #46 "Match Translations"
Hi,
Very nice tool! It covers most of my translation needs. Could you help me with a practical question?
I like the "Match Translation" feature, but on the other side, I do not want to translate all captions for every language. Is that possible?
Many thanks,
Steven

![Screenshot](https://user-images.githubusercontent.com/34163966/94131222-f2f86480-fe5d-11ea-9b95-c2a02d4e6895.jpg)

[2020-09-24 12:47] theschitz commented on #46
Hi @StevenHit

Thank you for opening this issue.

Just to be clear we're talking about the feature **NAB: Match translations from external XLF file** ? And what your asking for is that only xlf-files with the same target language should be processed?
In that case it seems like you found a bug, thank you for that as well :beetle: :hammer: :+1:

[2020-09-24 15:32] StevenHit commented on #46
Hi,
I am talking about this setting / function:
![image](https://user-images.githubusercontent.com/34163966/94166255-62d11400-fe8b-11ea-81dd-88933e4f0467.png)
It can only be used if this setting is disabled:
![image](https://user-images.githubusercontent.com/34163966/94166454-9875fd00-fe8b-11ea-9b71-cc58eaf8656c.png)
But then it puts [NAB: NOT TRANSLATED] in every caption of every XLF file. But we

[2020-09-28 20:55] theschitz commented on #46
@StevenHit ok, so you would like have the possibility to run **Match Translation** on selected xlf-files and only have the `[NAB: SUGGESTION]` added, skipping untranslated targets? We're looking into this and it's definitely something we'd considering to add. To implement we would however be require do some redesign and refactoring so it might take a while.

I'm sorry if I fail to understand what

[2020-09-29 07:37] StevenHit commented on #46
Not completely ;-).

### When "Use External Translation Tool" is _disabled_ in the extension settings:

- Captions we don't want to translate get a value which is shown in the BC client -> BAD

![image](https://user-images.githubusercontent.com/34163966/94526602-0af12f00-0236-11eb-834d-ab40a7b9808e.png)

+ We can use "Match Translation" to automatically propose translations -> GOOD

### When "Use

[2020-09-29 09:58] theschitz commented on #46
### Solution
* New function **Match Translations**
  * Will match translations and add suggestions: `[NAB: SUGGESTION]`
  * Will not tag untranslated trans-units

This solution is subject to change. Final description will be available in release notes and readme. This issue will be left open for discussion until further notice. Please feel free to add suggestions.

@StevenHit thank you for your fe

[2020-09-30 13:40] Mike-1984 opened #49 "Unable to use "Find" action in Reports: "%1 not supported for Object type ReportDataItem""
**Describe the bug**
"runtime":  "3.0"

Function "NAB: Find translated texts of current line" doesn't work in Reports and fails with one of the following error messages:

Column not supported for Object type ReportDataItem
Field not supported for Object type ReportDataItem
dataitem not supported for Object type ReportDataItem

**To Reproduce**
1. Create a Report using a code bellow:
[code]
2. Use

[2020-09-30 13:47] jwikman commented on #49
Hi @Mike-1984

Thanks for your very detailed explanation!

I noticed this just a few days ago, and I think I got a solution for this error that will be delivered any day now.

I'll let you know when we're ready!

[2020-09-30 14:48] #49 closed

[2020-09-30 15:02] jwikman commented on #49
@Mike-1984 I just published an update, should be live any minute now.

Please update to v0.3.34 when it's available and see if this solves your problem. If not, just reopen this issue and let me know.

[2020-10-01 08:51] theschitz commented on #44
Closed by #45

[2020-10-01 08:51] #44 closed

[2020-10-02 10:28] Mike-1984 commented on #49
Thank you, it works 🥇

[2020-10-02 10:33] jwikman commented on #49
@Mike-1984 , That's good news!

Please consider writing a review if you like the extension :)
https://marketplace.visualstudio.com/items?itemName=nabsolutions.nab-al-tools&ssr=false#review-details

[2020-10-04 21:15] jwikman opened #51 "Generate g.xlf file without compiling"
**Is your feature request related to a problem? Please describe.**
We've got writers that are using VSCode to update texts and translations. As it is today they first need to compile the app to update g.xlf to then be able to refresh the translated xlf files.
Since our writers are not developers, it can be a bit challenging to get the solution to compile with symbols, dependencies etc.

**Describe

[2020-10-21 21:19] #46 closed

[2020-10-26 17:25] Mike-1984 opened #59 "Use all available translation files to propose suggestions"
**Summary**
NAB-al-tools provides an excellent feature to suggest translations.
It allows developers to use the same translation for the same text.
It helps users too - they are getting used to specific common terms throughout the system

A lot of times during development you create a Caption which has been already translated in **another** extension.
And most of the times it has been already tran

[2020-10-27 13:55] jwikman commented on #59
Hi Mike,

And thanks for the thoroughly documented feature request!

The downside of having a setting pointing to a relative path that is outside of the repo is the challenge of having the paths in  sync for all users of that repo.

At least it wouldn't work as a workspace setting without friction in our company. But maybe as a user setting...

I'll have to think a bit more on this before committi

[2020-11-10 19:00] federicobacile opened #60 "Refresh files from G generate translations for codeunit procedures"
**Describe the bug**
When I load a new translated file modified externally, and launch the command "NAB: Refresh xlf files from G", I got all codeunit procedures translated with [NAB: NOT TRANSLATED] as target.

**To Reproduce**
Steps to reproduce the behavior:
1. set translate = no on all codeunits and methods
2. copy a translated file from another folder
3. launch NAB: Refresh xlf files from G.

[2020-11-11 13:53] jwikman commented on #60
Hi @federicobacile

I'm not following you all the way here. What do you mean by "set translate = no on all codeunits and methods"?

Can you please provide a small example with xlf files
1. the g.xlf file
2. the translated xlf file before running "NAB: Refresh xlf files from G"
3. the translated xlf file after running "NAB: Refresh xlf files from G"

[2020-11-12 12:47] federicobacile commented on #60
Hi, the translation file’s size is around 18mb each.

Just a question, to know if I’m wrong in some procedures or not.
Is it normal that NAB Tools suggest me a translation for Codeunit’s methods?
How to avoid this?

Because I’m pretty sure that it didn’t happen before this project.

FEDERICO BACILE
DEVELOPMENT MANAGER
+39 348 2575978
[cid:image001.jpg@01D6B8FA.178A4240]
EXPERTA OTTIENE LA CERTIFIC

[2020-11-12 12:56] jwikman commented on #60
Hi @federicobacile

Yes, I think that you are doing something that we're not supporting... ;-)

I don't understand the "translation for Codeunit’s methods" part, so please give me some samples of this.
If you do not want to upload the complete xlf files, you can just copy&paste parts of your three xlf files. Make sure that we have the same trans-unit id's in all samples and that your samples repre

[2020-11-12 13:27] federicobacile commented on #60
Yes, sorry..
Here you are the examples:

G File:
[cid:image001.png@01D6B8FF.4A3029D0]

IT File:
[cid:image002.png@01D6B8FF.4A3029D0]

I cannot understand why NAB try to translate Codeunit xxx – Method yyy, which are the names of procedure (below an example):
[cid:image006.png@01D6B8FF.CBDBA8B0]

How can I avoid NAB Tools to create these translations?

<trans-unit id="Codeunit 1171230913 - Method 1

[2020-11-12 14:10] jwikman commented on #60
It seems as if images are not supported when you are updating this issue via e-mail. Please use the web form instead at https://github.com/jwikman/nab-al-tools/issues/60

Anyways, from what i can interpret from your trans-unit that was i plain text: They should be translated, since they have translate="yes" as attribute. So I think that our function is doing what it is supposed to do... ;-)
The "R

[2020-11-12 14:23] federicobacile commented on #60
<trans-unit id="Codeunit 1171230913 - Method 1952099120" size-unit="char" translate="yes" xml:space="preserve">
          <source>EXISTTBLEF02</source>
          <note from="Developer" annotates="general" priority="2"></note>
          <note from="Xliff Generator" annotates="general" priority="3">Codeunit EF02 Dispatches to Process - Method EXISTTBLEF02</note>
        </trans-unit>

These lines ar

[2020-11-12 14:40] federicobacile commented on #60
It is a bug from 30th September, using GenerateCaptions feature:
https://github.com/microsoft/AL/issues/6186

Thanks.

[2020-11-12 14:40] #60 closed

[2020-11-12 15:00] jwikman commented on #60
@federicobacile that explains everything!

Thanks for the follow-up

[2020-11-15 22:50] jwikman commented on #10
Just as reference when someone dives into this:
This could probably be solved through the Custom Editor API (https://code.visualstudio.com/api/extension-guides/custom-editors) and and a Webview (https://code.visualstudio.com/api/extension-guides/webview)

[2020-11-16 11:21] jwikman commented on #35
There seems to have been a change in VSCode in how the output window is handled. Now it consider the output window being a texteditor, making the error "No workspace found. Please open a file within your workspace folder." show up if you have focus in the output window (as you probably have after build)

I'm working on a fix on this.

[2020-11-26 16:12] DSaladinCH opened #65 "Option to include Method Translation"
It would be nice if we got a option to include the method translations or exclude it.
In the most cases you don't need translated method names, so they don't need to be included in all xliff files.

[2020-11-26 16:57] jwikman commented on #65
Hi @DSaladinCH

Could you have run into this issue: https://github.com/microsoft/AL/issues/6186?

Methods should not be included in the xlf files at all.

(possible duplicate of https://github.com/jwikman/nab-al-tools/issues/60)

[2020-11-26 17:09] DSaladinCH commented on #65
Yes... :D

[2020-11-26 17:09] #65 closed

[2020-12-07 19:49] GhOnBc opened #68 "action "Find translated texts of current line" in report files generates strange search query?"
**Describe the bug**
Executing  "Find translated texts of current line" generates a search query that can not find the wanted elements in the .xlf file

**To Reproduce**
When clicking this action on a label variable in a report file
![image](https://user-images.githubusercontent.com/67097207/101397496-0b104980-38cd-11eb-9fb0-ba0535f8c47c.png)

![image](https://user-images.githubusercontent.com/670

[2020-12-07 22:12] jwikman commented on #68
Hi @GhOnBc ,

That is not the intended behavior. :)
But I need some more info to solve this, essentially I need the report file that you had this behavior with. Or at least the "code skeleton", with report layout, labels and procedures but without the code. Just make sure that you still can repro the behavior after you've removed code.

But, a lot of work has been done lately to rework this logic,

[2020-12-08 09:07] theschitz commented on #13
@jwikman I think we're at a point where this is easy to implement. Is it still an interesting feature?

[2020-12-08 09:37] #27 closed

[2020-12-08 09:53] jwikman commented on #13
Yes, I think this could be useful. And probably a lot easier to implement now....
But first we need to finish the other work in progress ;)

[2020-12-09 20:23] jwikman commented on #68
Hi @GhOnBc
Now we've created a preview version that might have solved this issue, but since we have no repro I cannot guarantee that it works.

Please download the vsix at https://github.com/jwikman/nab-al-tools/releases/tag/v0.3.36-preview.1 and install in VSCode manually. Let me know the outcome after you've tested this on your report.

[2020-12-11 18:57] LoVc-GH commented on #68
Hi,

I've tested with the preview version, this seems to have fixed the problem, thx!

[2020-12-11 19:22] jwikman commented on #68
Super, thanks for getting back!

[2020-12-14 20:03] jwikman commented on #59
Hi @Mike-1984

Now we've spent a lot of time on refactoring this extension.

This refactoring also made it possible to implement your suggestion.

I created a preview release where you can test this out. Download and install the vsix from: https://github.com/jwikman/nab-al-tools/releases/tag/v0.3.37-preview.1

Then you can use two new settings that would affect `NAB: Refresh XLF files from g.xlf`:

[2020-12-15 09:12] jwikman opened #71 "Notify user that xlf file is invalid if there are some missing < or >"
**Background**
When you are editing a xlf file manually, when doing translations, it's very easy to make unintentional edits that makes the xml data invalid. This results in unexpected results when performing different tasks (as "Refresh from g.xlf") on the xlf file later on.

**Proposed solution**
When nab-al-tools are reading a xlf file it should notify the user (throw an error) if the xlf file

[2020-12-16 15:30] theschitz opened #73 "Open RDL-file from VS Code"
**Is your feature request related to a problem? Please describe.**
When designing report layouts it's a bit tedious to open the RDL-files.

**Describe the solution you'd like**
A simple way to open the RDL-file in MS Report Builder from VS Code

- [ ] New setting ReportBilderPath. Default value: `"C:\Program Files (x86)\Microsoft SQL Server\Report Builder\MSReportBuilder.exe" "%1"`. %1 is replaced

[2020-12-16 18:49] #59 closed

[2020-12-17 14:35] jwikman commented on #35
Released in v0.3.37

[2020-12-17 14:35] #35 closed

[2020-12-17 14:36] jwikman commented on #43
Released in v0.3.37

[2020-12-17 14:36] #43 closed

[2020-12-17 14:36] jwikman commented on #51
Released in v0.3.37

[2020-12-17 14:36] #51 closed

[2020-12-17 14:36] jwikman commented on #68
Released in v0.3.37

[2020-12-18 17:04] jwikman opened #74 "Generate ToolTips from Base Application"
**Is your feature request related to a problem? Please describe.**
Sometimes we're creating pages on tables in Base Application and have to add ToolTips to the fields.
Inventing new tooltips feels as reinventing the wheel.
Manually copying tooltips from Base Application takes quite a lot of effort.

**Describe the solution you'd like**
A new function that fetches ToolTips from Base Application. "N

[2020-12-18 22:44] jwikman opened #75 "Highlight translations that needs some work"
**Describe the solution you'd like**
Highlight all targets that are tagged with the [NAB: NOT TRANSLATED] and similar tags
also highlight all trans-units with multiple targets (with suggestions)

[2020-12-20 20:24] jwikman commented on #75
trans-units with multiple targets will not be marked in any special way. But all multiple targets will contain [NAB: SUGGESTION] that will be highlighted, so it seems good enough for now.

[2020-12-20 20:28] #68 closed

[2020-12-20 22:55] #71 closed

[2020-12-20 22:55] #75 closed

[2020-12-21 08:27] jwikman opened #78 "When there is only 1 translation file, open translation directly on "NAB: Find translated texts of current line""
**Is your feature request related to a problem? Please describe.**
Very often an app only contains one single translation file (except g.xlf). Utilizing the "Find in files" function when using "NAB: Find translated texts of current line" is unnecessary in that case.

**Describe the solution you'd like**
Instead of using the "Find in files" function when using "NAB: Find translated texts of current

[2020-12-21 08:33] jwikman opened #79 "Setting for skipping trans-units in documentation"
**Describe the solution you'd like**
A new setting "NAB.IgnoreTransUnitInGeneratedDocumentation"
The setting should be an array of trans-unit ids.

When documentations, as ToolTip documentation, is created - Any trans-unit ids specified in this setting should be omitted.
Sample:

[code]

[2020-12-22 09:11] #78 closed

[2020-12-22 09:23] jwikman commented on #25
@theschitz should this be closed?
I think this is being solved in other ways in #71 and your upcoming problem list (where's the issue? ;))

[2020-12-22 19:50] jwikman commented on #13
I think this would be easiest implemented as a filter in the grid created in #10

[2021-01-05 12:52] theschitz opened #81 "No indication in PoeEdit when state is set to "needs-review-translation""
**Describe the bug**
No indication of change in PoeEdit when state is set to "neeeds-review-translation" when an existing translation is changed.

**Expected behavior**
All changes of state should trigger the desired behavior for that state in the external editor.  When an existing translation is changed the state should be set to `needs-adaptation`.

**Additional context**
At this point none of t

[2021-01-12 20:25] #81 closed

[2021-01-13 08:35] jwikman commented on #25
I think this one should be implemented anyway.

- Add a note from "NAB AL Tools" that has a clear description of why there is a [NAB:] token (or a state other than "translated") in that trans-unit.
- When doing a refresh the "NAB AL Tools" note should be removed if there are no [NAB:] token inside the target (or state is "translated")

[2021-01-13 09:51] theschitz commented on #73
This is already possible in VS Code when right clicking and choosing "Open Externally".

Open Externally uses the program that's set as default program for the file extension. This feature would only be of any value if there's a need to configure any other program than the default one or if the user is not able to change the default program.

![image](https://user-images.githubusercontent.com/1702

[2021-01-13 09:51] #73 closed

[2021-01-18 08:33] #25 closed

[2021-01-27 15:53] jwikman opened #86 "XmlDocs before object declaration throws error"
**Describe the bug**
When using "NAB: Find translated texts of current line" in a file that has XmlDocs (or just any comment?) before the the object declaration an error is thrown: `File 'undefined' does not have valid object name. Maybe it got double quotes (") in the object name?`

**To Reproduce**
Steps to reproduce the behavior:
1. Open "Cues and KPIs\src\CueSetupEndUser.Page.al" in a base app

[2021-01-28 22:00] jwikman commented on #86
It turned out that it was caused by the word "page" in the comment before the object declaration.

Solution is to improve the regex that identifies the object type.

[2021-01-28 23:27] #86 closed

[2021-02-02 20:45] jwikman opened #90 "Support for BC18"
**New features in BC18 that should be handled**

This list will be extended as we find new things in BC18 that will need to be taken care of

- [x] New multi language properties
  - [x] AboutTitle
  - [x] AboutText
- [x] Support all datatypes as return values of procedures
- [x] Report Extension

[2021-02-02 21:21] jwikman opened #91 "Sort g.xlf when adding trans-units"
**Describe the bug**
As is now, the new trans-units are added in the end.
They should be inserted in the same place as if the app is built.

**The logic**
It seems as if the compiler adds trans-units in the following order

1. Objects are sorted by object type and al file path
2. Object type order: table, codeunit, page, report, xmlport, pageextension, tableextension, enum
3. If a table and page h

[2021-02-02 22:21] theschitz opened #92 ""Nothing changed" after refresh when notes have been removed"
**Describe the bug**
Clean up of notes is not noted as a change i target xlf when running `NAB: Refresh XLF files from g.xlf` with no other changes in source.

**To Reproduce**
Steps to reproduce the behavior:
1. Target xlf and g.xlf should be in sync.
2. Add a note to any trans-unit in target xlf like: `<note from="NAB AL Tool Refresh Xlf" annotates="general" priority="3">New translation.</note>`

[2021-02-02 22:43] jwikman commented on #91
Hmmm, it seems as this has changed in v7 of alc.exe (BC18).
So this will need a new investigation after BC18 is released, since the pre-release behavior could change again...

[2021-02-03 15:48] jwikman commented on #91
BC18 seems to sort by "type" (table, codeunit, page, report, xmlport, pageextension, tableextension, enum) and "object name"

[2021-02-05 14:12] jwikman commented on #10
@FSharpCSharp there are now a, quite rough, preview of this functionality if you want to test it out. Just download the vsix from https://github.com/jwikman/nab-al-tools/releases/tag/v0.3.39-preview.2 and install in VSCode.

You'll find the feature by right clicking inside a xlf file and select "NAB: Edit Xliff Document".

There are still a lot of room for improvement, but it is still usable as-is

[2021-02-05 17:04] jwikman opened #93 ""NAB: Find code source of current line" broken if there's a "NAB AL Tool Refresh Xlf" note"
**Describe the bug**
If there's a note from "NAB AL Tool Refresh Xlf", the "NAB: Find code source of current line" function throws error "Not inside a trans-unit element"

[2021-02-05 22:24] theschitz opened #94 "Xliff Editor - Stuff to do: Now"
- [x] Insert suggestions when translating identical source
- [x] Uncheck "Completed" if target is modified
- [x] States
  - [x] Filter
  - [x] Position
- [x] Reload on tab focus

[2021-02-06 08:08] #92 closed

[2021-02-07 09:06] #93 closed

[2021-02-08 07:33] FSharpCSharp commented on #10
Thank you for implementing my suggestion. Has become very nice, and makes the work much easier! Please keep it up, the extension is becoming more and more useful.

[2021-02-08 07:39] jwikman commented on #10
Glad you like it @FSharpCSharp

There are still some small issues to iron out before we could release this. But think it will be very useful and it should minimize xlf issues, caused by manually changing the wrong part of the xlf file by accident...

[2021-02-08 10:56] jwikman opened #98 "Align with Extension Guidelines from Microsoft"
Microsoft has published guidelines for custom extensions at https://code.visualstudio.com/api/references/extension-guidelines

This extension should meet those guidelines.

- [ ] Read through guidelines
- [ ] Identify where we need to change something
- [ ] Resolve small guideline deviations
- [ ] Create issues for larger development tasks needed to follow guidelines

[2021-02-08 18:59] #94 closed

[2021-02-08 20:55] jwikman commented on #10
@FSharpCSharp
If you want to test it out, there's a new prerelease version packaged here: https://github.com/jwikman/nab-al-tools/releases/tag/v0.3.39-preview.4
Please let us know if you find any showstoppers.

We're planning to release this with the existing functionality if we don't find any big issues.

[2021-02-09 07:28] jwikman commented on #13
- [ ] Filter out all trans-units that has same source but different targets
  - [ ] Sort on source to group them
  - [ ] F8 to copy target from line above

[2021-02-12 08:26] jwikman opened #100 "Caption changes in table/page extensions is not supported"
**Describe the bug**
When changing multi language properties on a page via a page/table extension, the changed values is not handled when using "NAB: Update g.xlf".
Using "NAB: Find code source of current line" in xlf file on such an element does not work as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a page extension on Item List
2. Change caption on any field
3. Run "NAB:

[2021-02-12 10:33] theschitz opened #101 "Create Xliff file for new target language"
**Is your feature request related to a problem? Please describe.**
Why not simplyfy the creation of new translation files?

**Describe the solution you'd like**
- [x] Run command: "NAB: Create translation XLF for new language"
- [x] Select language. Quick pick maybe?
- [x] Confirm "Match translations from BaseApp?"
  - [x]  Match translations from Base App
- [x] New translation file is created.

[2021-02-12 22:52] #100 closed

[2021-02-13 20:02] jwikman opened #103 "API Documentation - Codeunit Documentation"
- [x] Parse
  - [x] XmlDoc
  - [x] Procedure signature
  - [x] Access property
- [x] Generate API Docs in markdown for codeunits
  - [x] Only for Access = Public
  - [x] one folder per object
  - [x] index.md per object
  - [x] one .md per function

[2021-02-18 10:32] theschitz opened #104 "Xliff Editor - Final fixes before release"
- [x] Throw error if g.xlf is opened
- [x] Error if "Refresh xlf from g.xlf"/"Update xlf files" is called when focus on Xliff Editor
- [x] If multiple targets - Show target 1..n in note as [NAB:SUGGESTION]target_text. Remove on completed
- [x] Animated gif in readme.md to show how to use this
- [x] Update Changelog and README

[2021-02-22 22:28] jwikman opened #105 "Remove "NAB AL Tool Refresh Xlf" elements when there are no more "untranslated""
When there are nothing more to translate, the "NAB: Find next untranslated text" should remove all "NAB AL Tool Refresh Xlf" elements from all xlf files.

[2021-02-26 23:12] jwikman opened #107 "API Documentation - Interfaces"
- [x] Generate API Docs in markdown for interfaces
  - [x] Only for Access = Public (from BC18)
  - [x] one folder per object
  - [x] index.md per object
  - [x] one .md per function that are public

[2021-02-26 23:12] jwikman opened #108 "API Documentation - Tables"
- [x] Generate API Docs for
  - [x] Procedures
  - [x] Events

[2021-02-26 23:20] jwikman opened #109 "API Documentation - Web Services"
- [x] Identify and parse any webservices xml to get published web services
- [x] Generate documentation in markdown
  - [x] Pages
  - [x] Codeunits
    - [x] Link to codeunit-documentation
  - [x] Queries

[2021-02-27 10:28] jwikman opened #110 "API Documentation - Settings"
- [x] Setting for prefix. Remove prefixes from file names and overview pages. New section for "Object Name"
- [x] Setting for exclude path. array of glob pattern?
  - [x] default /TestApp/**
- [x] Setting for root path of where docs should be saved

[2021-02-27 13:16] jwikman opened #111 "API Documentation - API Pages"
- [x] API Pages Overview
- [x] Generate API docs in markdown for api page

[2021-02-27 18:40] jwikman opened #112 "API Documentation - XmlComment Formatting"
ref: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-xml-comments
- [x] `<paramref>`
- [x] `<para>`
- [x] `<b>`
- [x] `<i>`
- [x] `<c>`
- [x] `<code>`

[2021-02-27 18:40] jwikman opened #113 "API Documentation - Queries"
- [x] Parse
- [x] Generate API docs for queries

[2021-02-27 23:32] jwikman commented on #112
List format will have to wait until later...

[2021-02-28 11:53] #10 closed

[2021-02-28 11:53] #104 closed

[2021-02-28 21:09] jwikman opened #117 "API Documentation - TOC"
- [x] Structure of TOC
 - [x] TOC.yml per object folder
 - [x] TOC.yml in root folder
 - [x] Setting if TOC should be created

[2021-03-02 13:02] theschitz commented on #98
I pulled the checklist and removed paragraphs concerning stuff we don't use at this point in time.

-------------------------------------------------------------
# Extension Guidelines

These guidelines cover the best practices for creating Visual Studio Code extensions.

## Notifications

**✔️ Do**

- [ ] Respect the user's attention by only sending notifications when absolutely necessary
- [ ] A

[2021-03-02 14:39] jwikman opened #118 "Some tooltips isn't included in ToolTips.md"
**Describe the bug**
Some tooltips that was included in ToolTips.md before is not included anymore.

**To Reproduce**
Field1-18 in src\page\ResourcePlanningMatrix.Page.al

[2021-03-02 16:14] jwikman opened #119 "Update g.xlf gives unexpected result if having groups in actions"
**Describe the bug**
"NAB: Update g.xlf" creates action group trans-units as "Control" instead of "Action"

**To Reproduce**
Steps to reproduce the behavior:
1. Use below actions on a page
2. compile and see the resulting trans-unit for the "Line" control
3. Use "NAB: Update g.xlf"
4. see the resulting extra trans-unit for the "Line" control

[code]

**Expected behavior**
The control should be tre

[2021-03-02 18:11] #105 closed

[2021-03-02 20:49] jwikman commented on #118
This was by design. Fields without caption won't be included.

[2021-03-02 20:49] #118 closed

[2021-03-03 07:08] #101 closed

[2021-03-04 11:26] Mike-1984 commented on #59
Hello @jwikman, thank you very much. It works like a charm.

We have found another scenario where this feature is usefull for our team:

We have to develop our extension for multiple versions in parralel (14,15,16,17).
Code merge GIT handles just fine, but the translation files become a mess.

So assuming feature is developed&translated in ver17 and must be merged to ver14, we do the following:
1.

[2021-03-04 15:25] jwikman commented on #59
@Mike-1984 Thanks for getting back and thanks for the story of your use case!

I'm glad that it is useful :)

Please consider adding a review at https://marketplace.visualstudio.com/items?itemName=nabsolutions.nab-al-tools&ssr=false#review-details (and let your team members do too).  It's those little things that makes us going ;-)

[2021-03-04 21:26] #103 closed

[2021-03-04 21:26] #107 closed

[2021-03-04 21:26] #108 closed

[2021-03-04 21:26] #109 closed

[2021-03-04 21:26] #110 closed

[2021-03-04 21:26] #111 closed

[2021-03-04 21:26] #112 closed

[2021-03-04 21:26] #113 closed

[2021-03-04 21:26] #117 closed

[2021-03-04 21:26] #119 closed

[2021-03-05 09:43] theschitz commented on #79
@jwikman This seems like a quite easy task? Mind if I do it? It would be a good excuse to get acquainted with your code around this feature :)

[2021-03-05 09:45] jwikman commented on #79
@theschitz go for it!

GLHF!

[2021-03-05 09:52] theschitz opened #120 "Find Next Untranslated should stop on multiple targets"
- [x] When running `NAB: Find Next Untranslated` it should also stop on multiple targets.
- [x] (optional) Make it testable [Test Cases](https://github.com/jwikman/nab-al-tools/projects/1#card-56256205)

[2021-03-05 16:52] jwikman opened #121 "Open Xliff Editor from right click in file explorer only works if xlf file is selected"
**Describe the bug**
Opening Xliff Editor from right click in file explorer does not work if any other file than the xlf file is selected and opened

**To Reproduce**
Steps to reproduce the behavior:
1. Open any AL file
2. Right click on an xlf file and select "NAB: Edit Xliff document"
3. Error "Can only open .xlf-files" is shown

If xlf file is first opened, it works

**Expected behavior**
It sh

[2021-03-06 16:13] #90 closed

[2021-03-07 11:01] theschitz commented on #79
closed by #123

[2021-03-07 11:01] #79 closed

[2021-03-07 13:03] theschitz commented on #121
I was so lost on this and google was broken... when I was about to give up I found this comment https://github.com/Microsoft/vscode/issues/3553#issuecomment-565839225

[2021-03-07 19:37] jwikman commented on #121
But then your google-fu wasn't broken after all! ;-)

[2021-03-07 21:41] #121 closed

[2021-03-08 22:44] #120 closed

[2021-03-09 09:41] jwikman opened #126 "Obsolete pending in External Documentation"
**A new page for Obsolete Pending features**
- [x] A new page that shows all public functions/objects/controls etc that are Obsolete Pending (discontinued)
- [x] Information needed (in a table?)
  - [x] Object (with link)
  - [x] Control or function that are obsoleted
  - [x] Obsolete Reason
  - [x] Tag
- [x] A setting if this page should be created when External Documentation is created
- [x] Cre

[2021-03-11 09:18] theschitz commented on #74
What structure do you need for the map file? I'm thinking something like

[code]

[2021-03-11 11:09] jwikman commented on #74
I'm not sure how to solve this really... Generating this from xlf file only is not enough, I'm afraid... That is why I put the work on hold

I would essentially need the following information:
- Table Name
- Table Field Name / Action Name
- ToolTip from the page

The hashes in trans-unit Id is not usable, I believe.

[2021-03-12 13:58] #126 closed

[2021-03-15 09:08] jwikman opened #130 ""NAB: Find code source of current line" broken if there's special characters in name"
**Describe the bug**
"NAB: Find code source of current line" is broken if there's special characters, that are html-encoded in text, in the name

**To Reproduce**
Steps to reproduce the behavior:
1. add a field with name: My <> & Field and any caption
2. compile
3. Refresh xlf
4. Navigate to trans-unit in xlf file (shown as "My &lt;&gt; &amp; Field")
5. press F12
6. Error is shown

**Expected beha

[2021-03-16 12:31] #13 closed

[2021-03-19 15:18] msfintad opened #131 "SignAppFile"
Hi!

I recently experienced issues with signing app-files saying that the timestamp server could not be reached.

The issue seems to be that the script uses a server that is no longer in use.

http://timestamp.verisign.com/scripts/timstamp.dll

It works if you change the script in the extension to use the one below for instance.

http://timestamp.digicert.com/scripts/timstamp.dll

Could it be a fe

[2021-03-19 16:50] #131 closed

[2021-03-19 17:00] jwikman commented on #131
Hi @msfintad

Thanks for reporting this. I don't use this function myself anymore (doing this in pipeline instead), so I didn't notice that it was broken.

I've fixed this with a new setting with a new default value (http://timestamp.digicert.com/ just as you suggested).

This will be released publicly probably during next week, but you can download a preview vsix from here and install in your VSC

[2021-03-23 10:38] lvanvugt opened #134 "Interested to demo your extension in a joined Areopa webinar?"
Hey Johannes,

Are you interested in demoing your VSCode extension in a [Areopa](https://areopa.academy/) webinar?
The idea is to have AL VSCode extension domed to the community.

If you're interested please let me know. Mail to: webinars@areopa.academy.

b rg
Luc van Vugt

[2021-03-23 20:51] jwikman commented on #134
Hi, @lvanvugt
You've got mail! :)

[2021-03-23 20:51] #134 closed

[2021-03-26 21:20] jwikman opened #135 "Add Xml Comment formatting to command palette"
**Describe the solution you'd like**
Formatting tags from https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-xml-comments#supported-xml-tags should be supported from the command palette, preferably with keybindings.
- \<i>
- \<b>
- \<c>
- \<code>
- \<list> (might do better as a snippet)

If text is selected, the selected text should be surrounded with the tag.

[2021-03-27 09:52] jwikman opened #137 "Export translations to Excel (csv, tab separated)"
**Description**
Export translations in selected xlf file to a tab separated text file that can be opened with Excel

**Suggested solution**
- [x] Execute the new function "Export translation to .tsv"
- [x] Let the user select which xlf file to export (quick picker)
- [x] let the user enter location to save to
  - [x] file name should be something like [App Name].[Language].csv
- [x]  export the tr

[2021-03-27 10:04] jwikman opened #138 "Import translations from Excel (csv, tab separated)"
**Description**
Import translations from a tab separated text file to a selected xlf file

**Suggested solution**
- [x] Execute the new function "Import translation from .tsv"
- [x] Let the user select which xlf file to import to (quick picker)
- [x] Let the user select the .tsv file to import
- [x] check that the expected column headers exists. There are some mandatory column headers:
  - Id
  -

[2021-03-27 15:08] theschitz commented on #137
I don't mind picking this one up :)

[2021-03-27 15:19] jwikman commented on #137
Go go go!

I think the easiest way to implement the file path would be to have a default file path (the translation folder?) and then create a setting that overrides that one.

But first we need to verify that the .csv file won't be included in the compiled app file :)

[2021-03-27 15:28] theschitz commented on #137
Already started ;) Claiming #138 while I'm at it :)

[2021-03-27 17:10] theschitz commented on #137
@jwikman FYI this means that we'll have to implement `state-qualifier` :)

[2021-03-27 17:18] jwikman commented on #137
Yep, I know.
They are present when using Microsoft LCS to do the translation. I noticed that MS even uses it's own state-qualifier values, but I guess we just add them as they appear.

[2021-03-27 18:57] #135 closed

[2021-03-28 13:11] theschitz opened #140 "Export Translations to .tsv - Nice to have"
**Is your feature request related to a problem? Please describe.**
Nice to have features in "Export Translations to .tsv" (moved from #138 )

**Describe the solution you'd like**

Nice to have features:
- [ ] the user gets to select columns to export (id, source, target is mandatory)
- [ ] the user gets to select a filter for export
  - [ ] All
  - [ ] "In need of review" - same filter as in Xliff

[2021-03-28 20:19] #130 closed

[2021-03-30 05:12] #137 closed

[2021-03-30 05:12] #138 closed

[2021-04-06 00:04] sbi6c opened #142 "for all "NAB: " commands VS Code reports Command not found"
Thanks for all the good in your work, keep up pls

**Describe the bug**
when I try to run any NAB command through Ctrl+Shift+P, the VS Code reports Command not found

**To Reproduce**
Ctrl+Shift+P
started writing "nab: "
triggered any command starting with "NAB:"
got the "command 'xy' not found" error (see the screenshot)

**Screenshots**
![image](https://user-images.githubusercontent.com/45274889

[2021-04-06 06:12] jwikman commented on #142
Hi,

The reason for your error it's that you are not working with an AL project, just with opened xlf files.

When writing VSCode extensions you must specify rules for when the the extension should be activated, otherwise all extensions would always be active - resulting in a very slow experience.

NAB AL Tools are only active when you have an AL project open, since some of the functions depend on

[2021-04-06 08:26] JSebastianN opened #143 "Cannot read property 'textContent' of undefined"
![image](https://user-images.githubusercontent.com/6465685/113680434-1f205800-96c1-11eb-93d4-468dc8739eae.png)

[2021-04-06 08:54] theschitz commented on #143
Hi @JSebastianN, this might be due to a missing target inside a trans-unit but we need more information to be able to look in to this.
- Which command are you running?
- Are you able to create a repro and post a copy of the XLF file?

[2021-04-06 15:26] sbi6c commented on #142
Johannes, Thanks a lot for your msg

an idea for your consideration:
Untill I will have the dummy project/app.json, would it be an option for me to edit the extension's package.json "activationEvents" so it does not wait for AL language, app.json, and al.go command?

I am only localizing now, without an access to BC server and repositories, requested a dummy project from my colleague, will have it

[2021-04-06 15:47] theschitz commented on #142
@sbi6c I tried this real quick and it seems to work. Still, doing it outside the context of an AL project can lead to other issues so I can't recommend it.

- In the command palette search for `Extensions: Open Extensions Folder`
- Open `nabsolutions.nab-al-tools-1.1.0\package.json` in a texteditor.

Replace the following:
[code]
with
[code]
- You'll need to run "Reload Window" once or twice befor

[2021-04-06 15:50] jwikman commented on #142
Hi Kamil,

Now @theschitz beat me to it with his answer, but anyways... :-)

I've created a DummyApp that you could use, without the need of a BC server, repo or symbols.
Just download [DummyApp.zip](https://github.com/jwikman/nab-al-tools/files/6265913/DummyApp.zip), unzip to a folder, put your xlf files in the translations folder and you should be good to go with using at least some of the xlf f

[2021-04-06 23:19] sbi6c commented on #142
@jwikman @theschitz **Guys many thanks a lot for your confirmation on package.json adjustment idea, and for the dummy project, a great help, thanks again**

**The pure package.json adjustment, did not work here.** /screenshot shows the VS Code's response/. The solution follows under the screenshot.

![image](https://user-images.githubusercontent.com/45274889/113761831-36d6fb00-9718-11eb-8957-74b3d

[2021-04-07 06:51] jwikman commented on #142
@sbi6c  I'm glad that you finally worked it out!

And thanks for the thoroughly explanation of your workaround, that could help others later on.

Please consider to write a review (or just give some stars) at [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=nabsolutions.nab-al-tools&ssr=false#review-details), that could help others to find this extension 👍

[2021-04-08 07:19] theschitz commented on #143
In it's current form this issue isn't enough to act on. You are very welcome to re-open this issue or a new one when more information is at hand.

We are grateful for all types of reports and feedback that are sent to us. Please make use of the issue templates, they might not be perfect but they do provide a basic layout of the information that is needed to turn the issue in to a solution.

[2021-04-08 07:19] #143 closed

[2021-04-17 20:17] #142 closed

[2021-04-17 20:28] jwikman opened #147 "Table Documentation"
- [x] A page for all public Tables
- [x] A table with Fields
  - [x] Name
  - [x] DataType
  - [x] Id
- [x] Deprecated fields in it's own table

[2021-04-21 07:58] #147 closed

[2021-04-21 09:47] jwikman opened #149 "Better support for "Microsoft Dynamics 365 Translation Service (DTS)""
**Is your feature request related to a problem? Please describe.**
When working with Dynamics 365 Translation Service (DTS) ([read more](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/lifecycle-services/translation-service-overview)), we need our tools to handle the Xliff format that DTS uses

**Describe the solution you'd like**
Add a new setting, `Work with DTS`, boolean.

W

[2021-04-29 10:16] jwikman opened #152 "Translation Dictionary when importing DTS translations"
**Background**
When DTS is doing the translations, it sometimes consequently translates some terms in another way than we would like it to do.

Sample:
Contract is being translated to "Kontrakt" in swedish, but we want it to use "Avtal" instead.

**Describe the solution you'd like**
- Add a dictionary to settings, or another json file.
- One dictionary per language
- search&replace pairs. (eg. sea

[2021-05-02 16:10] #149 closed

[2021-05-03 10:00] jwikman commented on #74
Actually, I think this is solved by the #153 PR that loads the information needed from the symbol files. :)

[2021-05-03 10:00] #74 closed

[2021-05-07 08:13] jwikman opened #158 "Possibility to run functions from NAB AL Tools in a DevOps pipeline"
Some of the functions in NAB AL Tools would be nice to run from a DevOps pipeline.

**Describe the solution you'd like**
- [x] Figure out how to make this request possible.
  - Must be callable from PowerShell - pipelines are running on Windows
  - Would probably need to download latest versions of vscode and NAB AL Tools.vsix
- [x] Adjust the extension code if needed
- [ ] Document how to configu

[2021-05-11 09:48] Steven-Bale opened #162 "Cannot have the target value when using Create xlf file for a new language"
**Describe the bug**
Cannot have the target value when using Create xlf file for a new language.

**To Reproduce**
Steps to reproduce the behavior:
1-Click on Create XLF File for a new language and enter fr-FR
2-Click on Yes for matching with base app
3-the new xlf file is created but without the target value with the translation;

**Expected behavior**
I want to have the target field on translati

[2021-05-11 10:02] theschitz commented on #158
I started sketching on this here https://github.com/theschitz/nab-al-tools/blob/dev/pipeline_inteface/extension/src/PipelineInterface.ts

Nothing major but maybe some ideas to use :)

[2021-05-11 10:58] theschitz commented on #162
Hi @Steven-Bale
Thank you for taking the time to report this :beers:

I've looked in to this and found that it's a bug related to type confusion. Bug is squashed in #163 which probably will get merged during the day. I'll update when we have more information at hand.

[2021-05-11 11:48] Steven-Bale commented on #162
ok thanks it works. the target section is created but without translated value.
Why ?

[2021-05-11 11:58] jwikman commented on #162
Hi Steven,

I just added an additional change to this function. After the new Xlf file is created, we now executes the `NAB: Refresh XLF files from g.xlf` function on the new file. That would add target elements on all trans-units.
If there was an suggestion added the suggestion is prefixed with `[NAB: SUGGESTION]`, if there was no match found in the base application for a trans-unit the target va

[2021-05-11 12:02] jwikman commented on #162
@Steven-Bale you can download a preview of the next release from https://github.com/jwikman/nab-al-tools/releases/tag/v1.2.0-preview.3, which includes the changes above.

[2021-06-01 07:57] jwikman opened #167 "[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues"
**Describe the bug**
The module `jdataview` is old and uses Buffer() in a way that is deprecated

**To Reproduce**
Steps to reproduce the behavior:
1. Call cli\CreateDocumentation.js with node from cli
2. Error/warning is shown

`[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods i

[2021-06-03 20:26] jwikman commented on #162
Released in v1.2.0.

Please reopen if there's still any issues with this.

[2021-06-03 20:26] #162 closed

[2021-06-03 20:33] #167 closed

[2021-06-16 13:43] theschitz opened #172 "Unexpected end of JSON input"
**Describe the bug**
If BaseApp translation files are empty or otherwise corrupted it results in an error message `Unexpected end of JSON input`.

If you were to run the function "Match Translations from Base Application" on an airplane where you have no internet connection an empty file would be created which of course cannot be parsed.

**To Reproduce**
Steps to reproduce the behavior:
1. Book a

[2021-06-21 20:19] theschitz opened #175 "Run Refresh XLF when finishing translations"
**Is your feature request related to a problem? Please describe.**
It's easy to miss notes and new translations whilst working in a project, switching between translation and development.

**Describe the solution you'd like**
- [x] When running  `NAB: Set Translation Unit to "translated" ` / `Ctrl+Alt+Q)` if there's no targets left in need of action run `Refresh XLF files from g.xlf`.
- [x] When r

[2021-06-22 14:44] theschitz opened #176 "Xliff Editor - Support for light theme"
**Describe the bug**
The Xliff Editor doesn't look very good with the light theme. It's actually quite unusable :D

**Solution**
Better support for light theme is needed. Webview should be theme aware.

**Additional context**
Light theme is for n00bs

[2021-06-24 08:42] #176 closed

[2021-06-28 13:00] #175 closed

[2021-07-05 11:51] jwikman opened #179 "Detect sources with only whitespace"
**Is your feature request related to a problem? Please describe.**
A text with only whitespaces should not need translations.

**Describe the solution you'd like**
Add a note if source only contains whitespaces in an untranslated trans-unit (do not bother to care about empty sources in already translated trans-units).
Suggested text: "This trans-unit contains only white-space, consider using 'Lock

[2021-07-05 11:53] jwikman opened #180 "Decorate the "NAB AL Tool Refresh Xlf" notes"
**Is your feature request related to a problem? Please describe.**
It's easy to forget to read the translation tips added in the notes.

**Describe the solution you'd like**
Decorate the texts inside the note with from="NAB AL Tool Refresh Xlf".
Reuse existing decorations or add a new setting for this.

[2021-07-05 14:06] theschitz commented on #179
May I grab this?

[2021-07-05 14:27] jwikman commented on #179
@theschitz enjoy! :)

[2021-07-05 15:17] #172 closed

[2021-07-13 11:43] skyttedk opened #181 "Cannot read property 'textContent'"
**Describe the bug**

I get the following error message: "Cannot read property 'textContent' of undefined. when refreshing xlf files.

**To Reproduce**
Steps to reproduce the behavior:
1. Click F1
2. Select "Refresh XLF file from g.xlf"

**Expected behavior**
 All other xlf files shoud be updated

**Screenshots**

![Untitled](https://user-images.githubusercontent.com/9749147/125445680-beb9f9b9-d87

[2021-07-14 16:36] theschitz commented on #181
@skyttedk thank you for reporting this, I'll look in to it and get back to you as soon as I have an idea of what the issue might be :)

[2021-08-09 13:33] kalleuuemae opened #182 "please add support for "permissionset" object"
Please add support for "permissionset" object.
Currently I get an error about filename when having this kind of object in extension and using "NAB: find code source of current line" command

"_**...\permissionset\permissionsetfilename.al' does not have valid object name. Maybe it got double quotes (") in the object name?**_"

[2021-08-16 14:37] jwikman commented on #182
Hi and thanks for reporting this

Now that I'm back from vacation I'll look into this!

[2021-08-16 15:29] #182 closed

[2021-08-16 15:41] jwikman commented on #182
@kalleuuemae, this fix is now released in v1.5.0, it should be available any minute in the VSCode Marketplace.

Please test and check if this solves your problem. Reopen this issue if the issue persists.

[2021-08-16 15:43] jwikman commented on #182
You can also download the vsix from https://github.com/jwikman/nab-al-tools/releases/tag/v1.5.0 and install manually in VSCode

[2021-08-22 17:01] theschitz commented on #181
@skyttedk Sorry about the delay, my vacation got the best of me.

It looks like trans-unit with id `Report 2728290281 - NamedType 2705943359` in `NP ForNav Reports.fr-FR.xlf` is missing a note from `Xliff Generator`. This should be added when building your project. If you haven't already, please try that. You could also add it manually if it for some reason isn't generated automatically. With that

[2021-08-22 20:29] #181 closed

[2021-08-23 08:12] #179 closed

[2021-08-23 09:35] ngiessel opened #187 "Update .xlfs won't run if there are RequestPages that include fields"
Running the "Update g.xlf"/"Update all XLF Files" commands throws an error:
`Update all XLF files failed with error: Field not supported for Object type XmlPort`
if there is at least one field defined in the XmlPort's requestpage.

If there are none, it runs properly.

**Reproduction**
1. Create an XMLPort object using the AL File wizard.
2. Scroll down to the requestpage.
3. Add a field with a ca

[2021-08-23 09:37] jwikman commented on #187
Hi @ngiessel,
This is clearly a bug. Thanks for the clear repro steps, I will look into this.

[2021-08-23 10:58] #187 closed

[2021-08-23 11:07] jwikman commented on #187
@ngiessel, this should be fixed in v1.6.0 that I just uploaded.

Reopen this issue if it does not solve your problem.

[2021-08-23 13:31] ngiessel commented on #187
@jwikman Thank you!

[2021-08-24 09:22] SanderCMD opened #189 "Give the option to disable automatic tagging like '[NAB: NOT TRANSLATED]' when refreshing"
Whenever i refresh my translation files, a bunch of new tags are added like the [NAB: REVIEW] and [NAB: NOT TRANSLATED], on the new words.

I don't intend to translate every new addition and these tags are actually taken from the xlf files and used as translations, and I don't want that for obvious reasons.
I always have to go into every language file and replace all, every time i refresh my xlf f

[2021-08-24 09:28] jwikman commented on #189
Hi @SanderCMD,
What should "NAB: Refresh XLF from g.xlf" then do? Why do you even run it, if you do not intend to translate? Please enlighten me on your use case, so I'm able to help you out.

There are a setting that changes the behavior of "NAB: Refresh XLF from g.xlf", `NAB.UseExternalTranslationTool`. When enabling that, the refresh function instead uses the target state attribute, instead of

[2021-08-24 09:39] SanderCMD commented on #189
Hi @jwikman, thanks for your lightning fast response :).

My use case is when I want to translate _some_ of the new words, but not all. I'll give the setting that you posted a try. I've seen it before but English is not my first language and I don't quite understand the description it has.

[2021-08-24 09:42] jwikman commented on #189
Ok, test that setting and see if that is what you want.

[2021-08-24 11:40] theschitz commented on #189
@SanderCMD You could also make use of the `Locked=true` property on captions and labels you don't want to translate in AL.

[2021-08-31 05:13] RodrigoPuelma opened #190 "Update all XLF files failed with error: Unexpected end of JSON input"
First of all: Thank you for an amazing extension.

It is hard to describe the bug as it is not the bug itself but the error message that is the problem since it does not provide enough information to understand what is wrong.

I made changes which included new captions. When I run the Update All XLF Files, the g.xlf file seems to get updated. But then I see the error "Update all XLF files failed w

[2021-08-31 06:01] theschitz commented on #190
Hi @RodrigoPuelma  thank you for taking the time to create this issue.

There could be a lot of different reasons for this error.

- Are you using match translations from Base App? If so try (re)moving those .json files  out of their directory. They're located in the extensions `dist` folder. You can open the extensions folder by searching for `Open extensions folder ` in the command pallette. Bef

[2021-08-31 07:19] jwikman commented on #190
Hi @RodrigoPuelma,

If you're unable to provide a sample of your .xlf files that we could use to repro, you might let us know what target language(s) you have in your .xlf files?

[2021-09-01 05:48] RodrigoPuelma commented on #190
Hi there, thanks for your quick reply.

I found en-au.json in the dist folder, it had a size of around 7+ MB. By opening it I could see that it was an incomplete JSON.

I removed the file and then ran the Update All function again. It produced a much smaller, still not completed, JSON file with the same name. The JSON in the file was not "broken" in the same part but much earlier.

I disabled the

[2021-09-01 05:51] RodrigoPuelma commented on #190
Hi, thanks for the help.
Please see my reply to @theschitz on how I managed to "solve" the issue with the guidance provided. Let me know what you want me to provide to you if you intent to dig more into this.

[2021-09-01 06:37] theschitz commented on #190
Nice! Not great, but at least you can get by while we try to fix the problem. I guess that `en-au` isn't that critical for you? I'll attach one either way: [en-au.txt](https://github.com/jwikman/nab-al-tools/files/7088766/en-au.txt)

The problem is most likely due to the file not being downloaded in full.

@jwikman could you double check  `en-au.json` in the blob?

[2021-09-01 22:47] RodrigoPuelma commented on #190
Hi there,
After disabling the 'Match Translations from Base App' configuration and running the 'Update All...' function both the g and the en-au files were updated successfully. This was despite the leaving the uncompleted JSON in the dist folder.

[2021-09-01 22:50] RodrigoPuelma commented on #190
Hi there,

I have run the update all function a couple of times and it always leaves an uncompleted JSON file in different sizes.
By running the update all function with the match translation config disabled both the g and the en-au translations are updated successfully.

[2021-09-02 07:22] theschitz commented on #190
Interesting that it seems consistent. Could you try to delete all JSON files and run the command `NAB: Download Base App Translation Files`? Would be interesting to see if that to would leave incomplete JSON.

This problem is usually related to internet connectivity, the code doesn't handle it very well when the connection is spotty. We're looking into improving this part. Meanwhile there's a few

[2021-09-03 01:40] RodrigoPuelma commented on #190
Hi there,

I deleted the JSON file (there is only one). Enabled the Match Translation with Base App config and ran the download function. Everything went well.

I proceeded in running the update all files function and that finished succesfully too. Not sure if this is because it managed to do so last time too. In any case, all is working for me even with the setup Match Translations with Base App

[2021-09-03 06:01] theschitz commented on #190
@RodrigoPuelma  Awesome, thank you for reporting and staying active in the conversation. We'll see what kind of changes we can produce to mitigate the behavior :)

[2021-09-07 19:08] theschitz commented on #190
@RodrigoPuelma out of curiosity; how many target languages do you have in your `Translations` folder of the workspace where you ran into this?

[2021-09-08 20:27] theschitz commented on #152
I guess this dictionary needs to be committed to the user's repository since I can't really see a way to make the file persist otherwise?

[2021-09-08 20:31] theschitz commented on #91
@jwikman Have you gotten any wiser regarding this?

[2021-09-08 20:51] jwikman commented on #152
Yes, somewhere in the user's repo it is. But I don't know if a setting is best, or if we should invent something else...?

[2021-09-08 20:52] jwikman commented on #91
I don't know if this is worth the effort needed. The logic around this sorting is kinda screwed up... 😉

[2021-09-08 20:58] theschitz commented on #152
Since this is DTS related i think files in a folder is the way to go. It would make it easier to edit and commits would not be contaminated by other changes to workspace configuration file. Maybe we could reuse the `Translations` folder? A dictionary could reside in `Translations/sv-se.dts.json`. Given that it won't be included in the .app file :)

[2021-09-08 21:02] theschitz commented on #91
Still? Last we spoke of this it seemed that they might finally have gotten it right. To bad. The only direct benefit would be getting rid of the `sortOnly` clauses in the refresh function. I guess there are some more but I would not claim that sorting ability would have that much value at the moment.

[2021-09-08 21:05] jwikman commented on #91
What do you say about closing this for now, and then we reopen later if needed?

[2021-09-08 21:07] jwikman commented on #152
Agreed. Just need to test that first. 🙂

[2021-09-08 21:19] theschitz commented on #91
Closing until it resurface :)

[2021-09-08 21:19] #91 closed

[2021-09-11 07:14] theschitz opened #194 "Test Coverage"
Using test coverage can provide useful insights into how much of the code is tested.
![image](https://user-images.githubusercontent.com/17023248/132939529-a6eda6f6-8285-454b-86bb-87ed18536ce3.png)
\* *the image shows test coverage without the (6 pending) workflow only tests.*

Dev branch can be found here https://github.com/theschitz/nab-al-tools/tree/test-coverage

The diffs will hopefully stay p

[2021-09-29 16:47] louagej opened #198 "DocFx Generate External Documentation"
**Missing an example to use DocFx for generating documentation**

According to the [documentation](https://github.com/jwikman/nab-al-tools/tree/master/extension#nab-generate-external-documentation), it should be possible to use DocFx to build the documentation after using `NAB: Generate External Documentation`.

**Can the documentation be extended with an example on how this can work?**

Crucial s

[2021-09-30 21:08] jwikman commented on #198
Hi,
This tool "only" generates MarkDown (.md) files with the documentation.
MarkDown is commonly used as an editing markup language for documentation that are converted from MarkDown to html with some kind of tool, as DocFX.

Documenting how DocFX (or any other MarkDown to HTML tool) works is a bit out of scope for this extension.

With that said, I'll try to help you out as much as I can. :-)

We

[2021-10-17 16:33] theschitz commented on #140
@jwikman I've started working on this so if you have any thoughts or additions I'll gladly take them into consideration :)

[2021-10-18 18:50] jwikman opened #199 "Include procedures with ServiceEnabled attribute in API page docs"
Only procedures with the ServiceEnabled attribute should be included in the .md file created for API pages.

[2021-11-02 09:04] jwikman opened #201 "Don't output the "Controls" paragraph if there are no controls"
**Describe the bug**
If there are parts without ToolTips on an API page, the "Controls" paragraph is created - but empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API page with fields and parts without ToolTips
2. Run "Generate External Documentation"
3. Look in the MD file generated for the api page, there are an empty table under "## Controls"

**Expected behavior**
The "#

[2021-11-08 08:42] jwikman opened #203 "Include extensible Enums in External Documentation"
**Is your feature request related to a problem? Please describe.**
Enums that are extensible should be included when creating External Documentation.

**Describe the solution you'd like**
Include all Enums that are extensible when creating External Documentation.
The Enum object should be considered extensible if it has `Extensible = true` and `Access = Public`.

[2021-11-11 07:23] Liza-Juhlin opened #204 "Possibility to export Teaching tips the same way as Tooltips"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-11 09:21] theschitz commented on #204
@Liza-Juhlin a good title goes a long way, but you could clean up the template parts and maybe express some additional context ;)

[2021-11-14 21:44] #203 closed

[2021-11-14 21:45] #201 closed

[2021-11-14 21:46] #199 closed

[2021-11-14 21:52] jwikman commented on #198
@louagej I'll close this for now.
Just reopen if you need any more info about this.

[2021-11-14 21:52] #198 closed

[2021-11-14 21:54] jwikman commented on #189
@SanderCMD I'll close this issue for now.

Please reopen if you need any more help regarding this.

[2021-11-14 21:54] #189 closed

[2021-11-16 23:36] RodrigoPuelma commented on #190
@theschitz sorry for the (very) late reply.
I have 2 languages, ENU and ENA

[2021-11-17 10:28] theschitz commented on #190
@RodrigoPuelma  better late than never :+1:

I have not been successful debugging this issue. The changes introduced in #192 should lessen the effect and make for a better experience if this occurs. This issue will remain open until we release the next version which does not yet have a release date but I would guess it should drop within the next few weeks.

[2021-11-19 04:46] RodrigoPuelma commented on #190
@theschitz , thanks for the update!

FYI, I have not experienced this issue since reporting it so maybe so whatever caused it seem to have been temporary or extremely conditional.

Thanks for all the help and for an amazing extension.

[2021-11-20 08:02] #180 closed

[2021-11-23 07:30] #152 closed

[2021-11-25 14:54] theschitz opened #213 "Blob storage error handling"
When failing to download from blob storage we need to take some consideration to any response text that could give insight to what the error might be.

- [x] Handle response if SAS token has expired _(see xml below)_. This should should show a clear error message.
  - [x] Other cases: File does not exists.
- [x] Refactor test to not contain multiple hardcoded tokens.
- [x] Validate the current tok

[2021-11-25 15:11] theschitz commented on #190
Released in [v1.7.0](https://github.com/jwikman/nab-al-tools/releases/tag/v1.7.0)

[2021-11-25 15:11] #190 closed

[2021-11-27 12:46] #213 closed

[2021-11-27 20:13] DavidFeldhoff opened #216 "Go to Definition in Xliff file doesn't work if there's a custom note in the transunit"
**Describe the bug**
It's about the Go to Definition feature in Xliff files: If there's some note which does not start with "NAB AL Tools", then the Go to Definition feature will fail with the error message 'Not inside a trans-unit element'.

**To Reproduce**
Steps to reproduce the behavior:
Take this .xlf file, select the line "note fro Xliff Generator" (important that this line is selected) and

[2021-11-28 10:36] #216 closed

[2021-11-28 21:32] jwikman commented on #216
This is now released in v1.7.1

[2021-11-29 06:10] DavidFeldhoff commented on #216
Thanks for picking it up so fast ! :)

[2021-11-29 17:10] DavidFeldhoff opened #218 "Go to Definition in Xliff file won't work if the property is missing at all"
**Is your feature request related to a problem? Please describe.**
If the Caption property is missing entirely on an object or a field, then it shows up in the xlif file, but you cannot navigate to it to directly fix it as the definition provider searches for the (not existing) Caption property.

**Describe the solution you'd like**
If it's not possible to find the property directly, then it shoul

[2021-11-30 14:27] #218 closed

[2021-12-07 08:13] MisterTrojan opened #221 "Bug on ReportExtension Objects"
**Describe the bug**
At the moment it is not possible to use "NAB: Update all XLF Files" when you have ReportExtensions in your project.
Is there a possibility to do it in another way with the Tool?
Cause this will be a big problem otherwise when I want to you use it further.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a report extension
2. Try "NAB: Update all XLF Files"
3. See E

[2021-12-07 08:21] theschitz commented on #221
Hi! @MisterTrojan Thank you for reporting this issue. This is most likely a bug or a missing feature.

While we're looking into it a work around would be to build the project and run  `NAB: Refresh XLF files from g.xlf`.

[2021-12-07 08:24] MisterTrojan commented on #221
Thank you for the quick answer! Im looking forward to it.

[2021-12-07 13:35] #221 closed

[2021-12-07 13:48] jwikman commented on #221
@MisterTrojan I've created a prerelease with this fix. Please download and install the vsix from https://github.com/jwikman/nab-al-tools/releases/tag/v1.7.3-preview.3 and see if this solves your issue.

Just reopen this issue if the error persists.

[2021-12-07 14:04] MisterTrojan commented on #221
Oh wow that was a fast response thank you!!!!
I was a lil bit confused cause I dont thought to test a solution that fast 👯

I seams like it is working thank you very much!

Is there a normal rollout window you have or when to expect the global rollout?

[2021-12-07 14:22] jwikman commented on #221
Glad to hear that it worked!

We have just done quite some refactoring work (that is part of this prerelease) that we want to test out first for a few days. At least that was our initial thinking...

So in a few days we will push this to the VS Marketplace..  If you use the prerelease version until then, it'll be updated just as usual.

[2021-12-09 11:20] jwikman opened #227 "Build support for the new Pre-release functionality in VSCode"
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions

[2021-12-09 22:46] jwikman commented on #227
According to the docs for this, the semver pre-release naming conventions is not (yet) supported.

So we will from now on (until something else is supported) use this approach:
Every release version will use `major.EVEN_NUMBER.patch `
Every pre-release version will use `major.ODD_NUMBER.patch`

The `patch` will be built as `yyMMddHHmm`

Example:
- New release version `1.8.0`
- New pre-release vers

[2021-12-09 22:48] jwikman commented on #227
NAB AL Tools now supports pre-release versions:
![image](https://user-images.githubusercontent.com/23032645/145487888-a4060376-5121-4ce8-abec-db701bb8dd56.png)

[2021-12-09 23:27] #227 closed

[2021-12-09 23:36] jwikman commented on #221
Hi @MisterTrojan
With the latest release of VSCode (v1.63) it is now possible to do pre-releases of VSCode extensions.

While implementing that I messed up a bit (there is no good place to test this out than live mot Marketplace 😕).
So if you update to VSCode v1.63 you will automatically (if not disabled) get NAB AL Tools updated to v1.8.
v1.8 does NOT include the fix in this issue.

Instead you n

[2021-12-11 10:00] theschitz opened #228 "Possible bug in Find Next Untranslated"
**Describe the bug**
Find next untranslated gets stuck if two tokens when two tokens are present on the same line.

**To Reproduce**
Steps to reproduce the behavior:
1. Run TestApp.
2. Use Find Next Untranslated until you hit the line in the screen shot.
3. Get stuck

**Expected behavior**
Running the function should always skip to the next untranslated.

**Screenshots**
![image](https://user-imag

[2021-12-11 21:48] jwikman commented on #228
Hmmmm... I don't know if it's a big issue that the user get stuck there. It is obvious that it is wrong and that the user needs to correct this.

The interesting part is that they remain even after a "Refresh XLF"... Maybe that should result in  a NAB: REVIEW instead, and a new description as a note telling the user what happened?

But then again, that might be a bit overkill, since I think this w

[2021-12-11 21:51] jwikman opened #230 "Log to NAB AL Tools output log"
Instead of pollute the VSCode output logs, we should create our own log to log to.

Seek inspiration from one of the other VSCode extensions doing this.

![image](https://user-images.githubusercontent.com/23032645/145692692-02f05602-497b-48d1-9af2-32339f57d0b6.png)

[2021-12-11 22:44] #228 closed

[2021-12-12 10:16] jwikman opened #231 "Show translations on hover"
When hovering over a text with translation(s) we could show all existing translations for that text.

- [x] A hover message for all texts that got a translation. Show all available translations (targets) for the text.
- [x] Each translation should have a link that opens the xliff file with focus on the translation
- [x] Performance is an issue on large xlf files (as "Base App"), we need to cache a

[2021-12-12 10:31] jwikman commented on #231
A sample on how to parse the hover text for testing is found at https://github.com/DavidFeldhoff/al-codeactions/blob/4429b2d9d09c19685775dc9c018403ea706c8887/src/extension/Utils/typeDetective.ts#L157

[2021-12-12 11:29] theschitz commented on #231
Cool idea! I think caching all xlf will be quite easy unless it's a huge project. It's the partial updating that to me seems to be the tricky part.

[2021-12-12 11:32] jwikman commented on #231
I think we can subscribe to the onDocumentChange event for the xlf files...

[2021-12-12 11:51] theschitz commented on #231
Ah ofc. Haven't used it so it'll be nice to see what it can bring to the table.
Leaving these here for possible future reference:
https://code.visualstudio.com/api/references/vscode-api#TextDocumentChangeEvent

[2021-12-14 09:56] jwikman commented on #231
I threw in another candy into this feature, a link to the xlf file is added for each translation :)

[2021-12-15 08:00] #231 closed

[2021-12-15 12:43] jwikman opened #236 "Use XLIFF Cache for all Xliff handling"
The new XliffCache might be useful in all usecases where we now load .xlf files "just in time".

- [ ] Investigate where we could use the XliffCache instead of reading from disk
- [ ] Implement XliffCache where possible
- [x] Add a new setting, `EnableXliffCaching`, default `true`

[2021-12-15 12:45] jwikman opened #237 "Add schema for DTS Dictionary"
Add a json schema to the DTS Dictionary (#152)

There's an example on how that is done in the AL Language Extension.

[2021-12-15 14:07] theschitz commented on #237
I'll snag this if you don't mind :)

[2021-12-15 14:07] jwikman commented on #237
Go ahead! 👍

[2021-12-15 18:44] jwikman opened #238 "Telemetry"
Add anonymous Telemetry.

- [x] Create an Application Insight with an instrumentation key
- [x] Implement telemetry
- [x] Identify default dimensions
  - [x] version
  - [ ] more?
- [x] Add a setting to enable telemetry, default `true`
- [x] Add a header to  README.md that explains what kind of telemetry is collected and how to disable

[2021-12-16 09:29] #238 closed

[2021-12-20 23:10] jwikman commented on #230
fixed by #240

[2021-12-20 23:10] #230 closed

[2021-12-21 10:50] #237 closed

[2022-01-04 14:52] alexandrepantanella opened #243 "Possibility to copy all sources in targets for a document"
It would be useful to be able to copy all the sources in respective targets with a single command.

[2022-01-04 15:03] alexandrepantanella commented on #243
Yes, we have some very large apps obtained from C/Side
with the tool. All captions, tooltips etc are in Italian
in the code and it should be very useful to have this feature
to publish the translation language.

Over time we can update the sources in English without haste.

Il giorno mar 4 gen 2022 alle ore 15:56 Johannes Wikman <
***@***.***> ha scritto:

--
*Alexandre Pantanella, Eng*.
Via Porte

[2022-01-04 23:49] #243 closed

[2022-01-05 00:29] jwikman commented on #243
Hi @alexandrepantanella

I just added

[2022-01-10 14:29] alexandrepantanella commented on #243
Hi Johanne, it works very well, thank you very much!

Il giorno mer 5 gen 2022 alle ore 01:29 Johannes Wikman <
***@***.***> ha scritto:

--
*Alexandre Pantanella, Eng*.
Via Portella, 1089B
03049 Sant'Elia Fiumerapido (FR)
***@***.*** - ***@***.***
+39 3493894310

[2022-01-10 16:17] mviaplana opened #248 "I have a Page with control named field("IOGRec.""Location Code"""; IOGRec."Location Code") and Control Number calculated by Tool is bad"
**Describe the bug**
I have a Page with control:
field("IOGRec.""Location Code"""; IOGRec."Location Code")
![image](https://user-images.githubusercontent.com/48830830/148799190-10430797-6191-4b84-b04b-ef4910a5e839.png)

**To Reproduce**
The xliff file content is:
        <trans-unit id="Page 3999442429 - Control 1570783645 - Property 2879900210" size-unit="char" translate="yes" xml:space="preserve

[2022-01-10 16:24] jwikman commented on #248
Hi @mviaplana,

A quick guess is that it is all the double quotes in the field name that is the problem here. I know there has been some issues in my RegEx matching for those... 😕

Can you please try to clean up the name of the field to something like
`field("IOGRec.Location Code"; IOGRec."Location Code")
`
or similar name, without double quotes inside the name.

I'll try to improve the matching l

[2022-01-10 16:26] jwikman commented on #243
Good news, thanks for getting back!

[2022-01-10 17:18] jwikman commented on #248
Hi again @mviaplana

I just reproduced your issue here.
The calculation of the control number was made for `IOGRec.""Location Code""` instead of `IOGRec."Location Code"` as it seems to do in the compiler.

I'll try to solve this somehow. But while waiting for a fix, your workaround would be to rename the field to something without "double double quotes". :)

[2022-01-10 17:37] mviaplana commented on #248
Hi, thank you for your attention.

I can write field("IOGRec.Location Code"; IOGRec "Location Code")

It seems double ".

We translate all pages from CAL to AL, and Business central writes this sentences.

Thanks a lot.

Salutacions,
Miquel Viaplana

________________________________
De: Johannes Wikman ***@***.***>
Enviado: lunes, 10 de enero de 2022 17:24
Para: jwikman/nab-al-tools
Cc: Miquel Via

[2022-01-11 10:43] #248 closed

[2022-01-11 11:39] jwikman commented on #248
@mviaplana, I just released a fix for this in the pre-release version v1.13.201111233, it should be downloadable now if you switch to the Pre-Release version (available from v1.63 of VSCode).

Now `field("IOGRec.""Location Code"""; IOGRec."Location Code")` will be get the field name `IOGRec."Location Code"` instead of `IOGRec.""Location Code""` as it was before.

Please test it out and let me know

[2022-01-14 09:53] XliffGeneral opened #251 ""Use External Translation Tool" setting does not work correctly"
Since Version 1.6.0 the setting “Use External Translation Tool” does not work properly.
The "state attribute" no longer changes with the command “NAB:Refresh XLF Files from g.xlf”

**To Reproduce**
1  Change the "Use External Translation Tool" Setting in Extension Settings.
2. NAB:Refresh XLF Files from g.xlf

**Expected behavior**
Changes the state-attribute as descripted.

[2022-01-14 10:13] theschitz commented on #251
A small Xliff sample and copy of NAB* settings could be helpful for a test case :+1:

[2022-01-14 10:21] XliffGeneral commented on #251
Hi jwikman,

thanks 🙂, I might suggest a job like this to my employer 🙂

Yes it’s correct:
It works in v1.5.0 (and earlier)
It does not work in v1.6.0 (and later).

In the past I always went back to version 1.5.0 as long as it was possible without errors,
So I’m pretty sure about it.

[2022-01-14 10:28] XliffGeneral commented on #251
Just activate the setting "Use External Translation Tool" and do "NAB:Refresh XLF Files from g.xlf". In my case state-attribute does not appear (Version 1.6.0 or later)

[2022-01-14 10:34] XliffGeneral commented on #251
Thanks!

[2022-01-14 11:04] jwikman commented on #251
It reproes just fine for me here now, so I'm hopeful that we'll find a solution on this!

I'll let you know when there's a fix ready to test, but it will probably not be today. :)

[2022-01-14 12:41] XliffGeneral commented on #251
Ok, thanks!

[2022-01-14 13:16] #251 closed

[2022-01-14 13:29] jwikman commented on #251
@XliffGeneral I think I found what was causing your issue. It was a refactoring that resulted in an inverted condition in a place... :)

I just published the pre-release v1.15.201141414. Please install, test and get back with the results. :)

[2022-01-14 13:33] jwikman commented on #251
Btw, the pre-release functionality in VSCode requires VSCode v1.63 or later to work. Just in case you haven't upgraded yet...

[2022-01-14 15:56] XliffGeneral commented on #251
Thanks for the fast hotfix! Works perfectly🙂

[2022-01-14 16:05] jwikman commented on #251
That was good news in the end of a Friday, just as it always should be. 😁

[2022-01-14 17:40] theschitz opened #252 "Add test for `setTargetStateFromToken`"
Add test case or assertion for `XliffFunctions.setTargetStateFromToken`. Discovered in issue #251.

[2022-01-15 17:40] theschitz commented on #194
![image](https://user-images.githubusercontent.com/17023248/149631979-1bb5e4f7-dbcd-4436-8d37-ab89a77f7560.png)

[2022-01-16 18:16] #252 closed

[2022-01-16 20:21] #194 closed

[2022-01-16 21:16] jwikman opened #257 "CLI fails due to dependency on vscode"
**Describe the bug**
After https://github.com/jwikman/nab-al-tools/commit/264dd570bbe097da2c6484d0a3b245ad8545045f the cli CreateDocumentation fails due to a dependency on vscode.

**To Reproduce**
Steps to reproduce the behavior:
1. Just run `node .\CreateDocumentation.js`

**Solution**
1. [X] Update the workflow to check that the cli functionality does not have a dependency on vscode. Checking t

[2022-01-17 06:49] theschitz commented on #98
@jwikman I'd like to add the link to the guidelines in our coding guidelines and close this issue. Is there anything in this issue that needs action? Maybe there is something to do with the settings and accessibility in the webviews.

[2022-01-17 07:39] jwikman commented on #98
@theschitz It would be nice to close this issue, indeed.
This issue has a good overview, that you did. But this is also only a snap-shot of how it was that day. So linking to the updated source seems as a good idea.

I think we can skip the accessibility until someone requests it, it would probably only be unnecessary work.
What do you think should be changed with the settings?

[2022-01-17 08:32] theschitz commented on #98
It would be "Link to documentation for complicated settings", but that would probably be a part of a larger overhaul. For some reason we've had very few issues with misunderstood settings or documentation so maybe not relevant at all :)

[2022-01-17 09:34] #98 closed

[2022-01-18 11:57] #257 closed

[2022-01-18 12:01] jwikman commented on #204
@Liza-Juhlin I'll close this one until you can provide a better suggestion on how this should be created.

If you still want this to be done, provide an example and re-open this issue.

[2022-01-18 12:01] #204 closed

[2022-01-18 22:42] theschitz opened #261 "Find next untranslated failed with error: Cannot read property 'getElementsByTagName' of undefined"
**Describe the bug**
When running `Find Next Untranslated (ctrl+alt+u)` after fixing the last problem the command fails on the first try but succeeds on the next one.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you only have one problem left in one xlf-file and none in any other.
2. Run  `Find Next Untranslated (ctrl+alt+u)`
4. See error (hopefully).
5. Run `Find Next Untransla

[2022-01-18 23:13] theschitz commented on #194
![image](https://user-images.githubusercontent.com/17023248/150033666-879916bc-ba71-46db-8898-87ca695f81ef.png)

[2022-01-19 10:52] theschitz commented on #261
@jwikman would you mind confirming this? If it's a Linux thing I wont bother debugging it :) Hit me up on Teams if you need a demo.

[2022-01-19 14:08] #261 closed

[2022-01-20 18:04] theschitz opened #266 "Workflow disable/enable tests and functionality"
- [ ] Disable Telemetry when running in workflow.
  Perhaps the environmental variable `GITHUB_ACTION` (`process.env.GITHUB_ACTION`) could be used for this.
- [ ] Enable running the "workflow only" test locally
  Optimal solution would be if it could be a configuration in `launch.json`

[2022-01-20 21:54] #266 closed

[2022-01-25 08:54] theschitz commented on #236
Maybe `LanguageFunctions.getFocusedTransUnit()`

[2022-02-04 09:30] jwikman opened #275 "Create AL Project from Template - Improvements"
- [x] Support for renumbering AL Objects after template is applied
- [x] #382
- [x] #305
- [x] Add a sample al.template.json file together with template project files. Placed in the `/template-app` folder in this repo.

[2022-02-06 23:00] jwikman opened #280 "generate a readme.md from external documentaion"
### Discussed in https://github.com/jwikman/nab-al-tools/discussions/247

<div type='discussions-op-text'>

<sup>Originally posted by **slang123** January  6, 2022</sup>
Hi,
Is it possible to generate a readme.md from the external documention and place the readme.md at the root of the project</div>

[2022-02-17 21:37] theschitz opened #286 "Objects with `ObsoleteState = Removed` are exported when generating external documentation."
Hmmm, was the table `Removed` when docs was created? In that case we got a bug :)
The thinking here was that everything with ObsoleteState `Pending` should be included in the docs, but not the removed ones...

_Originally posted by @jwikman in https://github.com/jwikman/nab-al-tools/pull/278#discussion_r809306114_

[2022-02-18 07:29] #286 closed

[2022-02-18 07:43] NKarolak opened #288 "Documentation commands do not work on apps with lots of tooltips"
**Describe the bug**
In a repository with many objects and fields, each page field and action with a tooltip, the command "Generate Tooltip Documentation" will run too long or never stop.
![image](https://user-images.githubusercontent.com/34504100/154639253-9bd067be-c98b-4ae0-8a7e-196d22639734.png)
I've stopped waiting for it after a few minutes, and closed VS Code.
As a logical consequence, also

[2022-02-18 08:28] jwikman commented on #288
Hi @NKarolak,

I do not think the process actually hangs because of the number of objects, but stumbled upon some unhandled error and stopped - leaving the progress bar... But the user experience can definitely be improved here! I'll have to look into solving this as well, but I'll track that in a separate issue.

My guess is that there is some code that we simply fail to parse, for some reason.

[2022-02-18 08:30] jwikman opened #289 "Improve error handling for commands that shows progress bar"
If the commands that has a progress bar (as `Generate External Documentation`) stops due to an error, it is leaving the progress bar, causing a bad user experience.

The progress bar should be closed and an error should be shown to the user.

[2022-02-18 08:31] jwikman commented on #288
Created #289 to improve the bad user experience when an error occur when showing a progress bar.

[2022-02-18 09:09] NKarolak commented on #288
Sure :-)

1. Output window only contains `Running: GenerateToolTipDocumentation`
2. Your troubleshooting command does find an error:
[code]

3. Developer Tools similar:
[code]
1. 4

[2022-02-18 09:32] jwikman commented on #288
Hmmm, it seems as if the parser identified a "modify" control in a Page object. They should only be in PageExtensions, so the error is right...
I just made a new pre-release of NAB AL Tools (v1.17.202181026) that adds the filename of the failing object in the output.

Please update to that version and retry the troubleshooting command to see what file is causing this and if you can find anything s

[2022-02-18 09:55] NKarolak commented on #288
Got it. My page defines views that update the field visibility. Example of the first view:

[code]

Btw, when I run the command on my other repo where the documentation could be created, I still get an error:

The underlying procedure:
[code]

And although this procedure exists only once, this error is logged about 20 times.

[2022-02-18 10:09] jwikman opened #290 "AppSourceCop.json must exist when converting to PermissionSet objects"
**Describe the bug**
When converting to PermissionSet objects and you don't have a AppSourceCop.json, an error is thrown.

**To Reproduce**
https://thatnavguy.wordpress.com/2022/02/18/converting-bc-permissionset-xml-to-permissionset-object/

**Expected behavior**
Default to blank prefix instead of failing.

[2022-02-18 10:44] #290 closed

[2022-02-18 12:48] NKarolak opened #292 "Cannot parse arrays as procedure parameters"
Running troubleshootParseAllFiles, the parsing breaks on every procedure that has an array as a parameter, e.g.

`procedure Load(var MatrixColumns1: array[32] of Text[1024]; var MatrixRecords1: array[32] of Record Whatever; DecimalPlacesString: Text[5])`

[2022-02-18 13:52] jwikman commented on #292
Yes, I noticed that too while looking into your other issue... I think it is when you have multiple arrays, but I haven't had the chance to dive into it yet.
Just give me a few days and I'll fix this as well.

[2022-02-18 15:10] ernestasjuska opened #294 "original attribute in translated XLIFF file is changed to ....g.xlf"
Hello,

In translated XLIFF files

[code]

is changed to

[code]

Is there any reason for changing this? Personally, I would rather have the `original` match the `original` in `*.g.xlf` file.

Thanks.

[2022-02-18 15:35] jwikman opened #295 "Same parsing error appears multiple times"
From #288:

When I run the command on my other repo where the documentation could be created, I still get an error:

The underlying procedure:
[code]

And although this procedure exists only once, this error is logged about 20 times.

_Originally posted by @NKarolak in https://github.com/jwikman/nab-al-tools/issues/288#issuecomment-1044245977_ Ref.

[2022-02-18 15:49] jwikman commented on #292
I just tried to parse the BaseApp and had 700+ issues where the parser failed. So we'll just start to dive into that, if that is solved I assume that your issue will be solved as well. 😅

[2022-02-18 15:50] ernestasjuska commented on #294
I see. Thanks.

[2022-02-18 16:02] NKarolak commented on #288
It worked:

The TooTips.md is created and looks correct.

Also successful (no issues),

- `Generate External Documentation`
- `Parse current project`.

Thank you :-)

[2022-02-18 16:02] #288 closed

[2022-02-18 23:33] jwikman commented on #295
Hi again @NKarolak,

Are you sure that the same error was logged several times when you where running the troubleshooting command?
I just can't repro this..

Could it be that it is the hovering functionality that is causing this? When hovering over a line, the same parsing is taking place to see if there are something that can be translated on the line. If there are something in the file that the

[2022-02-18 23:44] jwikman commented on #292
This should hopefully been solved now. Released in v1.17.202190038.
At least the Base and System Apps are parsing fine now...

For the fun of it, I created "external documentation" for the Base App. 45000+ .md files was created in about 1 minute. VSCode is impressive! 😁

[2022-02-19 08:29] NKarolak commented on #295
Might be. I need to check that next Monday.

[2022-02-19 08:32] NKarolak commented on #292
Really impressive, great!
Let me check on Monday.

[2022-02-19 10:01] jwikman opened #297 "Statistics"
**Is your feature request related to a problem? Please describe.**
Statistics is fun! It's as simple as that.

**Describe the solution you'd like**
A command that shows some statistics of the current AL Project:
- [ ] Number of objects
  - [ ] Total
  - [ ] Per Object Type
  - [ ] Per Access level
- [ ] Number of lines of code
  - [ ] Total
  - [ ] Pure code (triggers, procedures, without variable

[2022-02-20 11:22] fvet commented on #275
Would it be possible to provide some templates / **samples** on how to configure the **mappings** for the new 'Create AL Project from Template' command?

I'm looking forward to this a lot and would like to know how to configure e.g. following scenarios and run some tests with it.

---

**Settings.json**

[code]

---

**App.json**

[code]
---

**AppSourceCop.json**

`"mandatoryPrefix": "ESC"   << n

[2022-02-20 11:30] jwikman commented on #275
Hi @fvet,

Yeah, I'm aware that a sample could be needed to understand how to use this. The template project we use internally has too much internal stuff in it so I cannot publish that template, and I just haven't had the time to mock up another template sample.

If you zip a template project and attach here, I can configure an al.template.json file for that. Maybe that could be used as a startin

[2022-02-20 11:32] jwikman commented on #275
@fvet, I forgot to mention: All above should be possible to do with this command.

[2022-02-20 12:14] fvet commented on #275
Hi, enclosed a template I'm currently creating.
[Template.zip](https://github.com/jwikman/nab-al-tools/files/8103930/Template.zip)

Some additional things that need to be added:

- If the (main) app receive a new app id, this should be added in the dependencies of the test app (if test app is required)
- If the test app receive a new app id, this should be added in the internalsVisibleTo of the ma

[2022-02-20 12:31] fvet commented on #275
Update template with some (dummy) objects containing some boilerplate code.
[Template.zip](https://github.com/jwikman/nab-al-tools/files/8103966/Template.zip)

[2022-02-20 12:36] jwikman commented on #275
@fvet I updated your (first) template files with a sample al.template.json:
[fvet_Template_sample.zip](https://github.com/jwikman/nab-al-tools/files/8103969/fvet_Template_sample.zip)

With that sample, you might be able to continue to improve that template yourself?

I'll have to leave computer now, I will look at your new template later.

A lot of interesting ideas you have with improvements of t

[2022-02-20 14:17] fvet commented on #275
@jwikman Thanks for your input, I was able to update my template. First results look promising !
Latest version : [Template.zip](https://github.com/jwikman/nab-al-tools/files/8104151/Template.zip)

Some additional feedback:

- Maybe a `Visible` or `Editable` property could be added to a mapping entity. This would prevent a user from seeing / changing the app id's. (These 'technical' mappings are o

[2022-02-20 14:33] theschitz commented on #275
@jwikman I can't remember where we landed on this this topic but I think we pretty much agreed on that having a template-app in the repo would be nice. May I suggest that @fvet submits the template app as PR with the template when you two deem it "good enough"?

Suggested location: `./template-app`

[2022-02-20 14:49] theschitz opened #302 "Run tasks after the template conversion"
...
Some additional things that need to be added:
...
- [x] _(Nice to Have) Run some tasks after the app has been created. E.g. Authorize app with AL Object ID Ninja, Synchronize objects (after they have been renamed) with AL Object ID Ninja, ..._

...

_Originally posted by @fvet in https://github.com/jwikman/nab-al-tools/issues/275#issuecomment-1046224563_

- [x] Add new part to `templateSetting

[2022-02-20 14:57] jwikman commented on #275
@fvet I'm glad you could move forward on this.

Very good idea, I added this to the initial comment in this issue.

Hmm... This was strange. I can see that I have a repro on this, let me investigate some more...

I see that @theschitz picked this idea directly! Let's see what he comes up with on this topic. 🙂
I understand that it needs some effort to accomplish this with the use of several `rename

[2022-02-20 14:58] jwikman commented on #275
@theschitz, I think it's a very good idea. That would be easier to pick up on, compared to a wiki page.
What do you say about that @fvet?

[2022-02-20 15:14] jwikman commented on #275
@fvet, this thread might already be hard to follow, but I'll try to address each of your suggestions here anyway

We do not have any support for conditions (yet?).
In our company, we currently solve this by:

1. Using different templates for PTEs and AppSource apps (having Test app in both 😉)
2. Both above templates are as 'complete" as possible (including internalsVisibleTo etc). If there are som

[2022-02-20 15:36] #289 closed

[2022-02-20 15:40] jwikman opened #303 "Template - placeholderSubstitutions in .vscode/settings.json not working"
- [ ] For some unknown reason, the [APP_PREFIX] is not applied on my settings.json file?

[code]

_Originally posted by @fvet in https://github.com/jwikman/nab-al-tools/issues/275#issuecomment-1046247633_

[2022-02-20 16:32] #303 closed

[2022-02-20 16:37] jwikman commented on #303
@fvet It turned out that the substitutions did not work at all for files inside folders that began with a dot (.), as the `.vscode` folder. 🙂

This is now fixed and released in the pre-release v1.17.202201733 that should be available for download now.

As a side note: I added a hardcoded exception for folders named `.git`, so we do not accidently corrupt the repo! 😅

[2022-02-20 16:54] jwikman opened #305 "Template - `hidden` property on the mapping entity."
`hidden` property on the mapping entity.

This would prevent a user from seeing (and changing) the app id's. (These 'technical' mappings are of less importance for the user creating a new project)

[2022-02-20 17:05] fvet commented on #275
@jwikman If I've any new suggestions, I'll open separate new issues to ease tracking ;)

For the template, I'll await the fix for the settings file and will duplicate my project and anonymize the settings (or add 'NAB' as publisher instead).

[2022-02-20 17:10] jwikman commented on #275
Might be a good idea! 😅

Super!

The settings fix should be available by now, does it not turn up for you if you select the "Install another Pre-Release version"?
![image](https://user-images.githubusercontent.com/23032645/154854851-433d82d2-d4cb-423d-a069-4f0556f77698.png)
![image](https://user-images.githubusercontent.com/23032645/154854871-26095c08-c9d6-422c-b310-9da04bcd890b.png)

And a `hidde

[2022-02-20 17:10] #305 closed

[2022-02-20 17:12] fvet commented on #303
@jwikman Tested and approved. Thanks for the quick fix!

[2022-02-20 17:18] jwikman commented on #305
@fvet I ended up with adding a `hidden` property, instead of `visible`. In that way I could have `false` as a default value, which I believe gives a better user experience for properties that are not mandatory.

This is now released in v1.17.202201814, if you want to test this out on the App Ids.

[2022-02-20 17:27] theschitz opened #307 "Add `withProgress` to TroubleshootingFunctions"
Add `withProgress` to `TroubleshootingFunctions`

- [ ] `troubleshootParseAllFiles`
- [ ] `troubleshootFindTransUnitsWithoutSource`

[2022-02-20 18:09] fvet commented on #305
@jwikman Used the property in the template-app too ;)

[2022-02-21 07:37] NKarolak commented on #295
I can confirm your theory (tested in v1.16): the parse command adds the procedure only once, and each hover adds it.

[2022-02-21 07:40] jwikman commented on #295
Thanks @NKarolak, then I believe things are ok now.

And if an error occurs OnHover, the error is written to the output for every time that event is triggered, which can be maaany times. But I think that is ok. Hopefully it'll get reported here in then, so we can improve that particular case.

[2022-02-21 07:40] #295 closed

[2022-02-21 07:44] NKarolak commented on #292
Successfully parsed all my repos with pre-release version v1.17.202201814 :-)

[2022-02-21 07:44] #292 closed

[2022-02-21 07:47] jwikman commented on #292
@NKarolak thanks for confirming :)

And thanks for reporting this. I think this logik is improved quite a lot thanks to this.

[2022-02-21 11:14] jwikman opened #311 "Workflow - Upload code coverage artifact, even if workflow fails"
**Describe the bug**
If the code coverage check fails, it seems that the Code Coverage artifact isn't uploaded - which makes it a bit harder to fix the issue. :)

**To Reproduce**
See: https://github.com/jwikman/nab-al-tools/actions/runs/1875760613

**Expected behavior**
The code coverage artifact should be uploaded, even if the code coverage thresholds isn't met.

[2022-02-21 11:22] theschitz commented on #311
It might be as simple as just moving the upload step before the check.

[2022-02-21 13:47] jwikman opened #312 "Known issues with code parsing"
There are still some parts of AL code that is not properly parsed by NAB AL Extension. They will be collected in the list below as we find them
When they are about to be resolved, thew will be created as a new issue.

- [x] #314
- [x] #316
- [x] #319

[2022-02-21 19:08] jwikman opened #314 "Support for grid control on pages"
Implement support for grid control on pages, [sample](https://github.com/StefanMaron/MSDyn365BC.Code.History/blob/39081261820c133077a06c4c10b41ec4155afa6c/BaseApp/Source/Base%20Application/BOMCostShares.Page.al#L18)

[2022-02-21 19:32] #311 closed

[2022-02-21 20:03] #314 closed

[2022-02-21 20:10] jwikman opened #316 "Support for Captions on systemparts"
Captions on systemparts (wrong XliffId), [sample](https://github.com/StefanMaron/MSDyn365BC.Code.History/blob/3626997cde5ef73805cb00b8930b7ee7fdc6d63e/BaseApp/Source/Base%20Application/AssemblyOrders.Page.al#L99)

[2022-02-21 20:31] #316 closed

[2022-02-21 21:35] jwikman opened #319 "Support for Report Labels"
Support Report Labels, [sample](https://github.com/StefanMaron/MSDyn365BC.Code.History/blob/8cffd9e1873443d4f69d599163a0dfaed95a3104/BaseApp/Source/Base%20Application/DetailTrialBalance.Report.al#L257-L258)

[2022-02-21 22:12] #319 closed

[2022-02-21 22:16] #312 closed

[2022-02-22 07:46] theschitz commented on #302
@jwikman what do you think of my idea for the last step?

[2022-02-22 08:36] jwikman commented on #302
@theschitz Yes, I think you're on to something here. I had something similar in mind...

I can see a few challenges, though...
- Some commands (like many of ours) require that you have an open file, so we know on what workspace folder you want to execute your command. So we might need a setting for what file to have open when executing the command.
  - In this way we could have a command, like `CR

[2022-03-04 11:32] kristerwiklund opened #322 "Create an AL permission set object from scratch"
I would be nice with a feature to create an AL permission set object containing all objects in an extension.

I recently needed to this and then I used the function “Generate permission set containing current extension objects”, included in the AL Language extension, to get an XML permission set. Then I run the “Convert to permission set object” in NAB AL Tools to get an AL Permission set object.

[2022-03-04 22:08] #322 closed

[2022-03-04 22:29] jwikman commented on #322
Hi @kristerwiklund and welcome to GitHub! 😁

This is now available in pre-release version v1.19.203042325. The command is named `NAB: Create PermissionSet for all objects`.
Does it work as you expect it to?

[2022-03-05 14:09] theschitz commented on #322
@kristerwiklund  please consider also leaving a review if you could find the time https://marketplace.visualstudio.com/items?itemName=nabsolutions.nab-al-tools&ssr=false#review-details :wink:

[2022-03-07 09:04] kristerwiklund commented on #322
Thanks @jwikman  the functionality works as expected. Easy to use as always.

[2022-03-07 14:50] MisterTrojan opened #326 ""Update g.xlf" for one-liner enum values"
Heyy,

we just faced the following problem:
![image](https://user-images.githubusercontent.com/42072687/157056175-df39ad8a-feb2-491c-94a8-90dd54c2cfd9.png)

When you use the "NAB: Update all XLF Files" the "comment" part is copied in the "source" element (first purple mark in the screenshot).
On the second purple mark I manually changed it in the correct way.

In fact this enum was modified 1 year

[2022-03-07 15:17] theschitz commented on #326
Hi @MisterTrojan thank you for taking the time to report this. I'll look in to this during the week.

[2022-03-07 16:36] jwikman commented on #326
Hi @MisterTrojan,

Could you please submit the AL code of the Enum value that is causing this? The issue lies in how the parser interprets that code. I assume that we need to improve our regex that is identifying this line as an Enum value caption. If that is solved, I believe that the rest will be corrected as well.

The commands that are updating the g.xlf file is being used by our colleagues th

[2022-03-07 17:29] jwikman commented on #326
Aah, now I see why our parser does a poor job here...
It expects all properties to be entered on their own line. Not as a one-liner with value and properties on the same lite.
Can you please try the command with a line break after `{` and before `}`, having `Caption` with it's value and comment on it's own line.

Something like this:
[code]

Enabling the Update commands via a new setting might be

[2022-03-07 17:36] jwikman commented on #326
Or maybe we just add a bit of more information to these Update commands:

[2022-03-07 17:39] MisterTrojan commented on #326
Hahaha yeah ok that worked ^^
So it is really if everything is in one line.
Can we fix this? Or maybe a hint in the documentation for it? :)

Ahh I see... But maybe it should not interrupt anyone if we create the setup in the opposite direction? So lets say "DisableUpdateCommands".
Then nobody will feel a difference but it is possible work without it.

Ouh yeah and the information extension is wha

[2022-03-07 17:51] jwikman commented on #326
This very case of one-liners of enum values, has been seen before. So yes, we might as well try to improve this case now.

We'll give the command renaming and/or disabling some more thoughts and get back to you. :)

Maybe users are using the `NAB: Update all XLF files` when they actually should use the `NAB: Refresh XLF files from g.xlf` command instead. Designing UX to be intuitive is hard! 😂

[2022-03-07 17:57] MisterTrojan commented on #326
Haha yeah I dont want to bother you with stuff like that but I really love this tool and want share ideas even if they are small :D

Yeah I am the best example for that missunderstanding cause we used the Update till now and now I know we should not use it ^^

But with that I think we can close this case cause as you said already the origin problem is in progress and my feedback will get some thou

[2022-03-07 21:17] jwikman commented on #326
Hi @MisterTrojan,

I think I solved the parsing for one-liner Enum values now. I just published the pre-release version v1.19.203072213. Install and try it out and let me know how it goes!

I'll keep this issue open until we sorted out the renaming/enabling/disabling of the xlf commands. :)

[2022-03-07 21:58] jwikman commented on #326
I started a "Discussion" thread on the naming/enabling/disabling topic instead. Please jump into #328 and share your thoughts!

[2022-03-08 09:30] fvet opened #329 "Create AL Project : remove spaces from variables?"
**Is your feature request related to a problem? Please describe.**
When using the 'NAB : Create AL Project', I've created various variables, mostly including a 'readable' name. E.g. 'Advanced Pricing'.
However, in some boilerplate code, I want to use the value 'AdvancedPricing' instead (without a space).

![image](https://user-images.githubusercontent.com/25268332/157208105-efe5e683-f242-4da2-b792

[2022-03-09 08:31] MisterTrojan commented on #326
Damn that was fast thank you hehe

[2022-03-09 20:12] jwikman commented on #326
I get that as if it worked for you? 🙂

Just reopen if the issue still exists.

[2022-03-09 20:12] #326 closed

[2022-03-09 20:37] jwikman commented on #329
Hi @fvet,

We've got the settings `replaceSpaces` and `replaceSpacesWith` for the `renameFiles` element. Maybe we should implement those on `placeholderSubstitutions` as well?
If we do that, you could let the user supply the value "Advanced Prices", and then use that as "AdvancedPrices" or "Advanced-Prices" when configuring your `placeholderSubstitutions`?

But the more I think about this, we migh

[2022-03-09 20:48] jwikman commented on #329
We are using [lodash](https://github.com/lodash/lodash/tree/4.17.21-npm) to manipulate texts, so any function supported by lodash would be easy to add to the list of supported transformations. Any other, well defined, text transformation would probably also be quite easy to add if needed.

[2022-03-10 08:58] fvet commented on #329
The `transformation` options listed would definitely solve the various options I've in mind ;)

[2022-03-10 09:04] jwikman commented on #329
Then I think we will remove the `replaceSpaces` and `replaceSpacesWith` from `renameFiles` and add `transformation` to both `renameFiles` and `placeholderSubstitutions`. It is a breaking change, but we're still in "preview" with this function. 🙂

I'll let you know when there's something to test out.

[2022-03-10 12:27] Easystep2 opened #330 "Issue suggesting Tooltips when permissionextention object exists"
Suggest ToolTips failed with error: File 'c:\Users\xxxx\Documents\AL\sales-and-marketing\PermissionSets\ESMWarehouseOperator.PermissionSetExt.al' does not have valid object name and could not be parsed. -         table ESMPurchaseExtendedTextLine = X,

permissionsetextension 69205 ESMWarehouseOperator extends ES2WarehouseOperator
{
    // Assignable = true;
    // Caption = 'ESM Warehouse Operator

[2022-03-10 17:58] #330 closed

[2022-03-10 22:11] jwikman commented on #329
@fvet, pre-release v1.19.203102306 is just published with this new `transformation` property. It is an array where you get intellisense help for the supported options.

Would that work, you'd think?

[2022-03-13 19:58] fvet commented on #329
Just tested the new `transformation` property and updated my project template with it.
All works great, thanks for the quick update!

[2022-03-13 19:58] #329 closed

[2022-03-15 08:48] phenno1 opened #333 "After translation statistics show changes although no changes have been made"
Hi,

after NAB: Refresh XLF files from g.xlf action is used there is a statistics "note" that appears in the bottom, which shows what changes are made. There are situations when note says that several changes have been made (notes removed, suggestions added) but no actual changes have been made in translation xliff file.

Current version show NAB AL Tools v.1.18.0 (though I see different versionin

[2022-03-15 10:50] theschitz commented on #333
Hi @phenno1 thank you for taking the time to report this!

I think I have some faint recollection of seeing this behavior before. It would be really helpful with a repro, would you be able to provide one?

The current released version is `1.18.0` and the current pre-release version is `1.19.203111038`. Apparently we haven't updated "Releases" here on GitHub accordingly (we should look into that @j

[2022-03-15 10:56] theschitz commented on #333
I forgot to add; Ultimately you should trust your git diff. The misleading message is most likely due to the result set not being updated correctly by the different operations.

[2022-03-15 11:09] phenno1 commented on #333
Hi,

I can reproduce it locally but not sure what would it benefit to you since I can only confirm that it happened it again. It simply occurs after refresh in my case.

This occurred a moment a go whilst no changes was made to translation file at all (according to git). And this was rather small translation file, 300KB. Can we check/turn on some diagnostics?

While we are at Git, we do have much

[2022-03-15 11:22] theschitz commented on #333
There are no diagnostics available for this particular function. So debugging would the way to go about it, that's where a small repro would come in handy :)

Have you made sure that the 4 targets marked for review haven't been committed previously? Silly question but I have to ask :)

[2022-03-15 11:30] phenno1 commented on #333
Hi,

not sure that I understand the last question, in current xliff there is no NAB: labels nor NAB notes and current translation is up to date. I expect no changes and when I execute NAB: Refresh there is no changes, which is ok. But "note" states that some changes have been done. In current case it is always the same note, 2 removed notes and 4 targets marked in need of review.

I could send you

[2022-03-15 11:45] theschitz commented on #333
Looks like you answered my question :+1:

Sure let's do that: theodore [at] theschitz.se

[2022-03-15 11:55] phenno1 commented on #333
Hi,

You've got a mail. Thanks!

[2022-03-15 11:58] theschitz commented on #333
Received :+1: I'll look into it :)

[2022-03-15 22:42] theschitz commented on #333
@phenno1  So I can confirm this is a bug. One part of is that targets marked for review is counted twice when both `<source>` and `<target>` are empty. So 4 targets is actually only 2 targets in this particular case.

You probably want to set `Locked = true` for the enum values that generates the trans-units `Enum 1007634117 - EnumValue 1371923692 - Property 2879900210` and
`Enum 3081618420 - Enum

[2022-03-16 07:17] phenno1 commented on #333
@theschitz, thank you very much.

Yes, we can update these captions to be locked but that can be done on apps that we do manage. For apps that we do not manage but we have to translate (e.g. base app) we can't change captions. I guess the issue is why these "space" translations units are marked for review at all.

Thanks on your effort!

[2022-03-16 08:06] theschitz commented on #333
Well it's supposed to be a feature :wink: There's no need translating just a single whitespace the note added has the comment; "Source contains only white-space, consider using 'Locked = true' to avoid translation of unnecessary texts". In most cases this would be helpful but when working with base app not so much.

We've been discussing e few solutions to the bug it self but your particular case

[2022-03-16 09:31] phenno1 commented on #333
Aha, that makes sense 👍

[2022-03-18 05:05] MODUSCarstenScholling opened #334 "NAB: Convert to PermissionSet objects error if first workspace folder is not an app folder"
**Describe the bug**
NAB: Convert to PermissionSet objects raises an error if the first folders entry in a workspace file does not contain an actual app structure. In our case it is the AL packages folder.
ERROR: "Convert to PermissionSet object" failed with error: Error: ENOENT: no such file or directory, open 'c:\Dev\AL\_Playground\MicrosoftIssues\.alpackages\app.json'

**Version used**
v1.19.20

[2022-03-18 05:23] MODUSCarstenScholling opened #335 "Support the al.packageCachePath setting when loading symbols"
**Is your feature request related to a problem? Please describe.**
If the extensionPermissionSet.xml file contains references to objects not in the current workspace (i.e. from symbols), the following error occurs: "Convert to PermissionSet object" failed with error: Error: <Object Type> <Object Id> not found.

**Describe the solution you'd like**
It would be great if downloaded symbols could be q

[2022-03-18 08:17] jwikman commented on #334
Hi @MODUSCarstenScholling,

Thanks for reporting this. The repro was straight forward, and the issue is reproduced. I will look into it when time allows. :)

[2022-03-18 08:24] jwikman commented on #335
Hi @MODUSCarstenScholling,

Actually, I think this already works... At least it does for me. I just tested with permissions on table 36, and it nicely transforms to a PermissionSet object with permissions on the Sales Header.

Do you think you could provide a clean repro scenario?

[2022-03-18 08:45] MODUSCarstenScholling commented on #335
I have uploaded a project including my symbols which reproes for me. The link is valid until tomorrow.
[Download](https://1drv.ms/u/s!AgrZiQAuXDQmkOtmXxBblbdQILaAnw?e=Txy8u4)
Please let me know if you have downloaded it, for deletion :)

[2022-03-18 09:29] jwikman commented on #335
Thanks @MODUSCarstenScholling,
Files downloaded - and now I understand why you are having issues. You are using the `al.packageCachePath` setting, that we currently do not support. (never used myself)

I'll change the title for this issue to reflect this and I'll look into it later.

Thanks for reporting! :)

[2022-03-18 09:31] MODUSCarstenScholling commented on #335
Thank you Johannes!

[2022-03-19 09:52] jwikman commented on #335
@MODUSCarstenScholling, I just published pre-release v1.19.203191047 that should solve this. The release

[2022-03-19 09:56] jwikman commented on #335
I also noted that you where using the `mandatoryPrefix` in AppSourceCop.json, so I added support for that as well. (We do not support `mandatorySuffix`, but I don't know if that is very common...)

Out of curiousity: Why are you using `al.packageCachePath` like this? Is this folder shared among several apps in the same workspace? Pros/Cons?

Anyway, let me know when you've tried this out so we can

[2022-03-19 10:00] jwikman commented on #334
@MODUSCarstenScholling, this is also fixed in pre-release v1.19.203191047.

Let me know if it works for you.

[2022-03-19 14:40] jwikman opened #338 "Workflow for Pre-Release and Release"
We need to create a couple of pipelines to be used for Pre-Release and Release.

This issue will collect ideas on what we want those pipelines to achive.

- Pre-Release
  - Increase version according to our Pre-Release versioning
  - Build vsix file
  - Upload vsix as artifact
  - Create GitHub release as `Pre-release`
  - Commit & push to git
  - Publish `Pre-Release` on VSCode Marketplace (needs

[2022-03-21 07:05] MODUSCarstenScholling commented on #335
Everything now works as expected (folder structure, mandatoryPrefix and the packageCachePath thing for symbols), thank you so much Johannes!

Well, at least two things led to the al.packageCachePath in the root directory: Centralization of symbols for app and test, easier access to symbols by defining a workspace folder. We experienced no cons here so far.

[2022-03-21 07:07] MODUSCarstenScholling commented on #334
It works, thank you!

[2022-03-21 07:33] #334 closed

[2022-03-21 07:36] jwikman commented on #335
Aah, ok. I will try that out. :)

Then I'll close this issue now. Thanks for your collaboration on these issues!

[2022-03-21 07:36] #335 closed

[2022-03-21 07:58] MODUSCarstenScholling opened #341 "Procedure UpgradePermissionSets() does not keep the existing SystemId"
This is more a discussion/question.

**Is your feature request related to a problem? Please describe.**
When doing an xml -> al permission set upgrade, the automatically created procedure UpgradePermissionSets(), does not retain the existing SystemId. A colleague pointed that out.

**Describe the solution you'd like**
If an app, for whatever reason, saved a reference to User Group Permission Set a

[2022-03-21 08:55] jwikman commented on #341
Welcome back @MODUSCarstenScholling  :)

Yes, you are right on this. And I agree, we might as well keep the SystemId.

[2022-03-28 09:50] Joriek opened #343 "Rename folders"
Hello

We've been using the "NAB: AL Project Create From Template" functionality to create new apps for project and products.
We were wondering if it's possible to rename folder structures within the app itself.

For example:
We would like the [App_Prefix] folder name changed to the value imputted when executing the command.
![image](https://user-images.githubusercontent.com/6583705/160372598-d59d

[2022-03-28 18:04] jwikman commented on #343
Hi @Joriek,

I will look into this. It might be possible to solve.

[2022-03-28 18:13] jwikman commented on #343
Renaming folders seems to work already, at least for me. 🙂
Have you tried yourself? Did you encounter any error?

I might be able to help you out if you share your template file.

[2022-03-29 09:01] Joriek commented on #343
I dont know what mapping to use to rename folders, that will most likely be the issue.
Is there any documentation or examples about this?

My template file looks like this:

`{
    "createXlfLanguages": [
        "nl-BE"
    ],
    "mappings": [
        {
            "default": "ESC",
            "description": "App prefix",
            "example": "ESC",
            "placeholderSubstitutions": [

[2022-03-29 18:29] jwikman commented on #343
Aha, that explains why you didn't get it to work 🙂

You can use the `renameFiles` attribute to rename files. And thanks to you, I now discovered that this can also be used to rename folders.

So try this template out instead:
[code]

[2022-03-29 19:18] jwikman commented on #343
And for future reference:

There is a sample project using this template at https://github.com/jwikman/nab-al-tools/tree/master/template-app that also shows how to rename files.

[2022-03-29 20:23] theschitz commented on #333
@phenno1 the fix is now available in pre-release `v1.21.203292151`. It should fix the problem with reported numbers not adding up. It also adds a new setting, that you'd probably want to use when working with base app:
`NAB.PreferLockedTranslations`:  Specifies if "NAB: Refresh XLF files from g.xlf" should be opinionated about locked translations e.g. when both source and target consists of only w

[2022-03-30 06:32] phenno1 commented on #333
@theschitz,
thank you very much. I will check it up to the end of this week and let you know if things are better now.

[2022-03-30 07:05] phenno1 commented on #333
@theschitz,

I tried to test it on the previous example that I sent you over email. With new option not set I do get a little bit different warning, and do get targets marked for review but it states that 4 targets are for review though only 2 exactly are (and properly tagged for review now).

When I turn-off the "locked" option I receive "Nothing changed in 1 XLF files" which is ok. Interestingly

[2022-03-30 07:10] Joriek commented on #343
Thank you for your response!
One of my collegues mentioned the renameFiles but I didn't try it on the folders.
I will try this our tomorrow. Keep you posted!

[2022-03-30 11:01] tadly opened #345 "Exclude files/file patterns"
**Is your feature request related to a problem? Please describe.**
When performing "NAB: Refresh XLF Files from g.xlf" all .xlf files get refreshed based on the g.xlf
Our Base Extension also includes Translation files for other (externally maintained/bought) extensions.

Because those translations aren't found within the g.xlf, they get removed.

**Describe the solution you'd like**
It would be ni

[2022-03-30 19:43] jwikman commented on #345
Hi @tadly,

That was an interesting way of handling translations of other apps. :)

We will look into if we could add some kind of setting to exclude xlf files.

[2022-04-02 22:45] jwikman opened #351 "External Documentation - Link to object pages"
Link to object pages if a parameter datatype has a page (eg. Link from Record parameter to the table page)

[2022-04-03 10:53] theschitz commented on #333
Sorry bout that, I'll have to blame it on being tricked in the review process. I fixed the double count once again in pre-release `v1.21.204021705`. Test it out and let me know if all is good :)

[2022-04-03 11:32] phenno1 commented on #333
@theschitz, it works perfectly now, I got a count of 2 reviews, which matches the number of new review tags in file.
This looks solved now, I would say 👍

![image](https://user-images.githubusercontent.com/47591999/161425783-5f654c40-4f2f-4451-8f4a-099bae7e8b22.png)

[2022-04-03 11:46] theschitz commented on #333
Awesome! Once again thank you for reporting and best of luck with your translations :)

[2022-04-03 11:46] #333 closed

[2022-04-03 12:06] jwikman commented on #345
Hi @tadly,

I ended up with an opposite approach to this problem.

I've added a new setting, `NAB.TranslationFilenamePattern`. It specifies a filename pattern for the translation xliff files. The default value for this setting is "*.xlf".

In your case I suggest that you set this to "AppName.*.xlf" and that you use "AppName.[language code].xlf" as naming convention, ie. "AppName.da-dk.xlf", "AppNa

[2022-04-03 12:10] jwikman opened #353 "External documentation - Yaml title"
- [x] A setting to create a Yaml Title on each page (https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html?q=header&tabs=tabid-1%2Ctabid-a#yaml-header).
- [x] A Title suffix (preferably the app name preceded with some separator) or prefix

[2022-04-04 15:38] theschitz opened #355 "Publish workflow 2.0"
Continuation of #338

We now have a first version of a release workflow (hopefully) in action. There are however some small bits left to make the process complete and (maybe) allow for a fully automated delivery workflow one day.

- [ ] Update changelog on release
  - Hopefully our use of conventional commits have matured enough to enable some kind of automated generation of the changelog.
    - I

[2022-04-04 15:39] theschitz commented on #338
@jwikman I'm thinking that we'll close this and continue in #355 when you have tested the publish to marketplace part :)

[2022-04-04 21:30] #338 closed

[2022-04-07 14:08] jwikman commented on #343
@Joriek it's much easier to help you out if you supply your al.template.json. :)

But my guess here is that you need to reorder the mappings in your al.template.json. They are applied top down, and if you rename the folder before you try to update a file inside it, as the ruleset in your sample, it cannot be found anymore. But that is just a guess, out from what you provided. 😁

[2022-04-07 14:10] jwikman commented on #343
@Joriek I'm sorry, just realized that you might have tested the al.template.json I mocked up in a comment above... Give me a sec.

[2022-04-07 14:12] jwikman commented on #343
@Joriek sorry, my bad (again)... It seems as you are using another al.template.json, right?

[2022-04-08 07:57] tadly commented on #345
So sorry. Totally forgot to reply. (Busy week)

I like this approach a lot and even after trying to think of edge-cases where a list of patterns would be more favorable, I couldn't come up with any :)

With the crude testing I did I couldn't finde any problems so far so this is good to go from my POV

[2022-04-08 08:08] jwikman commented on #345
Great @tadly, then this will be included in the next release.

[2022-04-08 08:23] #351 closed

[2022-04-08 08:23] jwikman commented on #345
This is released in v1.22

[2022-04-08 08:23] #345 closed

[2022-04-08 08:23] jwikman commented on #333
This is released in v1.22

[2022-04-08 08:34] Joriek commented on #343
@jwikman I used the template you copy pasted above:

{
    "createXlfLanguages": ["nl-BE"],
    "mappings": [
      {
        "default": "ESC",
        "description": "App prefix",
        "example": "ESC",
        "placeholderSubstitutions": [
          {
            "match": "[APP_PREFIX]",
            "path": "**/*"
          }
        ],
        "renameFiles": [
          {
            "path":

[2022-04-08 08:53] jwikman commented on #343
@Joriek, ok thanks for info. I'll have to dig deeper into this, it seems. :)

I'll get back to you when I can repro (and hopefully solve) this issue.

[2022-04-08 13:13] jwikman commented on #343
@Joriek, Now I think I understand why you get that error.

It's not the renaming that is failing. It is caused by the brackets in the folder name when the placeholderSubstitutions is being done. When I tested that template, I must have had no files containing the `placeholderSubstitutions.match` specified, so it did not fail for me.

The search & replace in the files are being made by an external

[2022-04-08 14:13] jwikman commented on #343
@Joriek I managed to fix this, I believe.

I just released pre-release v1.23.204081406 that should support brackets in the folder or file names. Please install, test out and let me know how it works.

[2022-04-09 20:36] jwikman opened #363 "Improved API Page Documentation"
- [x] Fields
  - [x] Links to Enums in same app
- [x] Data Type (needs symbol parsing)
- [x] Link to sub pages
- [x] Data Type if field source is a variable

[2022-04-11 10:57] Joriek commented on #343
@jwikman this works perfectly! Thank you very much!
For anyone else that reads this, my template.json looks like this:

`
{
   "createXlfLanguages":[
      "nl-BE"
   ],
   "mappings":[
      {
         "default":"ESC",
         "description":"App prefix",
         "example":"ESC",
         "renameFiles":[
            {
               "path":"[APP_PREFIX] Main",
               "match":"[APP_PREFIX

[2022-04-11 11:06] jwikman commented on #343
I'm glad that it finally worked out for you @Joriek 👍

[2022-04-11 11:06] #343 closed

[2022-04-11 18:53] #353 closed

[2022-04-11 18:53] #363 closed

[2022-04-14 13:40] jwikman opened #365 "AL Template improvements"
A few additions wanted for the `NAB: Create AL Project from Template` feature:

- [ ] Support special characters (as < and >) in `description `and `example` fields
  - `asdf <a.b@c.d>` only shows as `asdf`
- [ ] Support for deleting files
  - Useful for removing any readme.md files that is being used to describe how to use this template project
- [ ] Support for a max length for the text supplied

[2022-04-16 11:45] theschitz opened #368 "Code Coverage: Branches"
Code coverage is looking really good. But the testing of branches is falling behind so we should make an effort to try and raise that number a bit.

### Low hanging fruits

#### PermissionSet

- [ ] `src/PermissionSet/XmlPermissionSet.ts`
- [ ] `src/PermissionSet/PermissionSetFunctions.ts`

#### Xliff

- [ ] `src/Xliff/XLIFFCache.ts`
- [ ] `src/Xliff/XLIFFDocument.ts`

#### SymbolReference

- [ ]

[2022-04-16 14:28] jwikman commented on #368
Good idea!

But I believe that ALObject & Documentation should be quite easy to fix, since you've added the documentation files test. We "only" need to create all different kinds of AL files and do a manual verification that the generated .md files are correct. Then your existing test will verify that we don't get any regressions.

That would at least be a way to get a very high coverage on the do

[2022-04-16 21:09] jwikman commented on #368
I'll take a closer look at the `src/Documentation.ts` part to see if I could improve that one.

[2022-04-17 17:22] #302 closed

[2022-04-17 18:57] theschitz opened #373 "Improve testing of branches in CSV functions"
- `src/CSV/ImportXliffCSV.ts`
- `src/CSV/ExportXliffCSV.ts`
- `src/CSV/CSV.ts`

[2022-04-17 20:54] theschitz opened #375 "Test branches in caches: XLIFFCache & SymbolReferenceCache"
- `src/SymbolReference/SymbolReferenceCache.ts`
- `src/Xliff/XLIFFCache.ts`

[2022-04-17 22:02] #375 closed

[2022-04-17 22:11] #373 closed

[2022-04-18 11:11] theschitz commented on #302
@fvet FYI: this is now available in pre-release `1.23.204172216`. As always, feedback is very much welcome.

[2022-04-18 12:51] jwikman commented on #302
And @fvet, be aware of how this works. We can only fire off the command and how for the very best. And the outcome totally depends on how the command is implemented. We try to wait for a command to complete before we fire off the next, but that depends on that the command support the waiting, otherwise we'll just fire off the next command directly.

I think we would need a few PRs to Waldos CRS mo

[2022-04-26 16:05] jwikman opened #379 "Upgrade PermissionSet fails if assigned both on User and via User Group"
**Describe the bug**
If a user got the PermissionSet first assigned directly, and later through a User Group, the current implementation of `UpgradePermissionSet` fails because a duplicate of a "Access Control" record is inserted.

**Versions used**
NAB AL Tools: v1.23.204202209
BC: 19.5.36567.36634

**To Reproduce**
Steps to reproduce the behavior:

1. Assign your old (XML) PermissionSet to a Use

[2022-04-26 16:10] jwikman commented on #379
The new implementation will be heavily inspired by the Codeunit "[Upgrade PermissionSets](https://github.com/StefanMaron/MSDyn365BC.Code.History/blob/f124ac43f15124dbd92731936e5226c522a2de44/BaseApp/Source/Base%20Application/Upgrade/UpgradePermissionSets.Codeunit.al#L77)", but with the use of temp records instead of doing a rename inside the loop...

[2022-04-26 18:27] jwikman commented on #341
Hi @MODUSCarstenScholling,

My apologies for the long wait on this, but I've been keeping myself busy lately. :)

We've suffered from another issue with this `UpgradePermissionSet()` function (see #379 for more info).
After that we came up with another approach to implement this function:
[code]

That would also keep the SystemId as much as possible.
I write "as much as possible" since there are a

[2022-04-26 18:57] MODUSCarstenScholling commented on #341
Thank you Johannes, let me check this tomorrow. I just finished an analysis 1 hour ago regarding a Platform bug in at least 19.2 to 19.6 when using the old code. Not a duplicate record but an error that the referenced app is not installed. I'll check if the new code is changing this and let you know.

[2022-04-26 19:07] jwikman commented on #341
I assume that you've hit [this bug](https://www.yammer.com/dynamicsnavdev/threads/1631832222662656), then?

I did not dig too deep into to that one, since MS confirmed it as a platform fix. I wouldn't think that this code would change anything, but the code in the BaseApp around this area is messy so one could just hope that this changes your buggy behavior. :)

Please keep me updated. :)

[2022-04-27 06:21] MODUSCarstenScholling commented on #341
Well, how can you know? ;-) Seems that I have missed that one, thank you. Your feedback corrected a wrong assumption due to incorrect information.

And, as expected, the new code does not "fix" the platform issue, but I think it's fine regarding the duplicate issue. I personally would omit the explicit Find() after the assignment, but that's peanuts and my personal opinion.

If that is in, please

[2022-04-27 08:21] jwikman commented on #341
Yes, a lot of this code is subject of my personal opinion 😁

Then we'll proceed with modifying the code generated by `NAB: Convert to PermissionSet objects`.

Thanks for your input!

[2022-04-27 18:05] jwikman commented on #341
Published in v1.24

[2022-04-27 18:05] #341 closed

[2022-04-27 18:05] jwikman commented on #379
Published in v1.24

[2022-04-27 18:05] #379 closed

[2022-04-30 22:14] jwikman opened #382 "Fix issue with provided values in web view is reset if switching tabs"
Use `retainContextWhenHidden: true` to keep values of Webviews when switching focus.

[2022-05-07 03:56] kenmoto8 opened #384 "issue converting permissionset to object"
**Describe the bug**
When trying to convert Permission set Xml that I exported from BC20 (SaaS), I get a permissionset object without any permission details.

**Versions used**
VSCode: 1.67.0
NAB AL Tools: 1.25.205012019

**To Reproduce**
Steps to reproduce the behavior:

1. Access BC20 SaaS
2. Access Permission set list page
3. Select one of User Defined permission set
4. Select to export permiss

[2022-05-07 11:04] jwikman commented on #384
Hi Kenji. I was not aware that you could download a permission set file from within the client. I can directly see a couple of issues with that file, compared to the file created by the AL Language Extension inside VSCode. But nothing I cannot fix (I hope). 😀

I'll look into it and get back to you, probably within a few days.

[2022-05-09 06:26] jwikman commented on #384
Hi @kenmoto8,

I believe that this should have been fixed now in the latest pre-release, v1.25.205090620.

Please give it a try and let me know if it works for you.

[2022-05-09 21:58] kenmoto8 commented on #384
Hi @jwikman , thank you for such a quick update!
I tested, and seems to be working as expected. But there is one error that I'm getting with permission with SecurityFilter applied. Will this be covered in the conversion procedure?
![image](https://user-images.githubusercontent.com/44813638/167505446-9b36727a-cf43-4e28-a7b5-959ae7dc2739.png)

[2022-05-10 08:47] jwikman commented on #384
Hi @kenmoto8,

Please correct me if I'm wrong, but I don't believe that SecurityFilters are covered by the new PermissionSet object... At least I cannot find any documentation on that topic and I have not been able to figure out how to create that manually in AL Code.

If you have a manually created PermissionSet object with SecurityFilter, please share here and we'll look into it. :)

[2022-06-14 15:00] fvet opened #388 "Create Project : Issue with removing spaces from filerenames"
**Describe the bug**
Seems like the transformation removespaces / lowercase does not work in the renameFiles part.

**To Reproduce**
Steps to reproduce the behavior:

Below is the template I've created.

[code]

When I fill the "App Name" with a value containing a space, e.g. **My App**

Then the `/Templates/CI/download_artifacts/AppName.yml` file is renamed to `/Templates/CI/download_artifacts/my

[2022-06-16 07:42] fvet commented on #388
Was a bit in a rush when posting this issue. I've taken the time to create a sample project instead ;)

With the below setting, I would like to rename my files by both removing the spaces and lowercase the name.

![image](https://user-images.githubusercontent.com/25268332/174018323-8877fc18-eff1-470b-a94b-ee90f46877e9.png)

Original files

![image](https://user-images.githubusercontent.com/2526833

[2022-06-17 21:20] jwikman commented on #388
Thanks @fvet,
I can repro this 👍

Strange thing is, changing positions of the lowercase and removespaces seems to work! 🤔

I'll dive into debugging to sort this out.

[2022-06-17 22:39] jwikman commented on #388
I found out what was causing this...

It turned out that I used [this function](https://docs-lodash.com/v4/lowercase/) for LowerCase, don't ask me why. It turned out that it didn't really do what I thought it would do... It transforms "MyApp" to "my app", and not "myapp". Since the string data type has it's own implementation, the fix was easy when issue was identified.
(the same issue applies to

[2022-06-17 22:44] jwikman commented on #384
Released in v1.26

[2022-06-17 22:44] #384 closed

[2022-06-17 22:44] jwikman commented on #382
Released in v1.26

[2022-06-17 22:44] #382 closed

[2022-06-19 10:10] MarkDeBeerV opened #390 "Update g.xlf -> EMFILE: too many open files"
Issue Type: <b>Bug</b>

**Describe the bug**
I start update g.xlf in my app. This has always worked fine till now. There 108 al files in the app.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app (with 108 al files)
2. run update g.xlf
3. see the error Update g.xlf failed with error: EMFILE: too many open files, open 'c:\...\app.json'

- Does it happen all the time?
yes.

- Did i

[2022-06-19 10:12] MarkDeBeerV commented on #390
A restart of Visual Studio helped...

[2022-06-19 20:06] jwikman commented on #390
Hi @MarkDeBeerV,

This is so strange... I can see in the telemetry that this has happened a few times the last month (like on 5 occasions), but several times repeatedly when it happens. Probably until restart of VSCode as you did now.

We will need to figure out a way to hunt this bug down... But at least it seems as if we're not alone, according to google. :)

But the workaround for now, is as yo

[2022-06-23 08:41] jhoek opened #391 ""Find Translated Texts of Current Line" doesn't recognize labels whose names are surrounded with double quotes"
**Describe the bug**
"Find Translated Texts of Current Line" doesn't recognize labels whose names are surrounded with double quotes.

**Versions used**
VSCode: 1.68.1
NAB AL Tools: 1.26.0

**To Reproduce**
Steps to reproduce the behavior:

1. In VS Code, open an AL object containing a label whose name is surrounded with double quotes
2. Place the cursor inside said label
3. Open the context menu (

[2022-06-23 10:19] jwikman commented on #391
Hi Jan,
Thanks for taking the time to report this issue.

The quick fix is of course to just remove those double quotes!😜 They do not belong in variable names, IMHO.
But I understand that you sometime wants to use this functionality on code that is not yours to fix and also that there are all kinds of different naming standards out there...

I'll look into how to solve this in a good way. But it w

[2022-06-23 10:23] jhoek commented on #391
Thanks, Johannes! I’m guessing that they are either there for some historical reason, or maybe because variable names that start with numbers are not allowed without them.

Many thanks in advance! Looking forward to hearing from you about this!

[2022-06-23 13:04] fvet opened #392 "Create Project : Support conditional placeholder / region placeholders"
**Is your feature request related to a problem? Please describe.**

Our template contains following boiler plate (app.json)

[code]

We are looking for a way (not by cloning the AL project in a 'Simple App Project' and 'Complex App+Test' template) to add a conditional parameter (true/false, e.g. 'Include Test App') to the 'NAB: Create AL Project' so we can remove code based on a condition (similar

[2022-06-23 13:52] jwikman commented on #392
Hi @fvet,

That's an interesting idea.
When are you going to start programming TypeScript and help us out with these kind of suggestions? 😜

I need to think about how to solve this in a good way.

[2022-06-23 22:01] jwikman commented on #388
Hey @fvet, did this do the trick?

[2022-06-23 22:05] fvet commented on #388
Will check tomorrow 😉

Verzonden vanaf mijn Galaxy

-------- Oorspronkelijk bericht --------
Van: Johannes Wikman ***@***.***>
Datum: 24/06/2022 00:01 (GMT+01:00)
Aan: jwikman/nab-al-tools ***@***.***>
Cc: Frédéric Vercaemst ***@***.***>, Mention ***@***.***>
Onderwerp: Re: [jwikman/nab-al-tools] Create Project : Issue with removing spaces from filerenames (Issue #388)

Hey @fvet<https://github.co

[2022-06-23 22:27] jwikman commented on #391
Hi Jan,
I got some time to look at this tonight after all...

I just published the **pre-release** v1.27.206232222 that should adress this (and other variants as "My Label", "My ""Label""" etc.).

Please download, test if it works for you and let me know how it goes!

[2022-06-27 02:59] jhoek commented on #391
![NakCore2022-06-27 at 04 57 23@2x](https://user-images.githubusercontent.com/1273387/175851737-53d96b16-4754-40c0-925a-ae77cdc09a01.png)

That appears to work perfectly, Johannes -  thanks!

[2022-06-27 02:59] #391 closed

[2022-06-27 09:56] jwikman commented on #391
Thanks for the feedback @jhoek,
I assume that the "hover" over the label started to work for these kind of labels as well?

[2022-06-27 10:14] jhoek commented on #391
Yes, hover works as well. :-)

[2022-07-01 11:22] jwikman opened #395 "Check if xlf file is corrupted (by a git merge conflict)"
**Is your feature request related to a problem? Please describe.**
When doing a `git merge` on a xlf file and get conflicts, it is quite common that there is missing `</trans-unit>` in the suggested merge conflicts. If the developer just accept that suggestion, the xlf file gets corrupted and all subsequent use of Xliff features in NAB AL Tools gets all kinds of strange behavior.

**Describe the s

[2022-07-07 04:20] vody opened #397 "Support certificate subject which NOT begins with CN"
A common case where certificates subject begins with other properties then CN. For example, our sign certificate subject is `E=d365support@theta.co.nz, CN=Theta Systems Limited, OU=Dynamics 365, O=Theta Systems Limited, L=Auckland, S=Auckland, C=NZ`

**Versions used**
Version: 1.68.1 (user setup)
Commit: 30d9c6cd9483b2cc586687151bcbcd635f373630
Date: 2022-06-14T12:48:58.283Z
Electron: 17.4.7
Chrom

[2022-07-07 20:54] vody commented on #397
@jwikman, thank you! Works perfectly.

[2022-07-07 20:54] #397 closed

[2022-07-07 21:48] vody opened #399 "Invalid auto-generated markdown for procedure parameters wrapped in double-quotes"
**Describe the bug**
With procedure parameters wrapped in double quotes as in the example below extension generates an invalid markdown.
**Code Example:**
[code]
**Autogenerated Markdown:**
[code]

**Versions used**
Version: 1.68.1 (user setup)
Commit: 30d9c6cd9483b2cc586687151bcbcd635f373630
Date: 2022-06-14T12:48:58.283Z
Electron: 17.4.7
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-el

[2022-07-07 23:13] vody commented on #399
@jwikman, an issue has been raised as we have a valid AL code and an invalid markdown one. :)
From a procedure usage point of view, the user (developer) will not see a difference if it's double-quoted or not. So don't see any value in keeping double quotes in the documentation. Fully agree that we need to keep spaces and replace spaces with underscores to keep parameter references as straightforwa

[2022-07-08 02:17] vody commented on #399
@jwikman, if we would like to bring change in, then we may need to apply the same logic for returns.

[2022-07-08 09:38] jwikman commented on #399
@vody I added some comments in the PR  :)

I'm fine with removing the " from the output in docs, but when we're at it, we should probably support valid names with double double-quotes inside the names as well.
So a parameter called `"Name with ""Quotes"""` should be output as `Name with "Quotes"` in the docs.

Don't you agree?

[2022-07-10 20:52] vody commented on #399
@jwikman, agree. I will try to find some time to redo a PR.

[2022-07-10 22:29] jwikman commented on #399
@vody Just reach out to me or @theschitz if you need any help (or if you just can't find the time for this). However, the time zone difference may cause some response delay... 😁

[2022-07-19 01:37] vody opened #401 "[Generate External Documentation] Replace hardcoded layout with template engine"
It looks like that "Generate External Documentation" functionality generates a hardcoded layout with very limited customisation capabilities. As with a demand to generate docs in a different format ([Example](https://docs.365extensions.com/docs/SM/docs/References/SubscriptionMgt#tryaddproduct-method)), it will be good to have an option to introduce a custom layout using some sort of template engin

[2022-07-19 22:45] jwikman commented on #401
Hi @vody

Yes, the documentation layout is very hardcoded and created to match our own purposes. ([Example](https://docs.smartappsford365.com/en-us/parrot/reference/codeunit-qwepr-create-documents/)).

I think that inventing our own template system would be way too much work.
But adding a setting to instead create some kind of MetaData is absolutely possible and should be a lot easier implement.

[2022-07-26 19:28] jwikman commented on #395
Released in v1.27.207261925

[2022-07-26 19:28] #395 closed

[2022-07-28 13:05] #388 closed

[2022-08-05 12:59] HotfixJem opened #404 "Attribute annotates redefined"
**Describe the bug**
I used the extension to translate some strings using Edit Xliff Document. It unfortunately deleted some parts of the XLF code so I copied it back in from a backup I had. New <target> translations + old <note> that got deleted on accident. I merged my branch on the extension into master and pulled master data to continue working on the translation. I used NAB: Refresh XLF files

[2022-08-05 18:24] jwikman commented on #404
Hi @HotfixJem,

Would you mind sharing the xlf file you are using when getting this error?
If we get a version of the file from yesterday, when it worked, and a version that results in this error, I think we should be able to understand why this is happening.

[2022-08-15 14:01] HotfixJem commented on #404
Hello @jwikman

Sorry for the late reply, I was on holiday. Unfortunately, I have not gotten any time allocated for the XLIFF project from my company, so I will have to drop my question. Thank you for your understanding.

[2022-08-15 14:01] #404 closed

[2022-08-15 16:16] jwikman commented on #404
Ok, @HotfixJem. Just re-open or create a new issue if you get the time for this.

[2022-08-17 10:53] NKarolak opened #405 "Extension causes high cpu load"
Hi,
VS Code told me to report this. However, this has happened for the first time and did not repeat since.

- Issue Type: `Performance`
- Extension Name: `nab-al-tools`
- Extension Version: `1.27.207261925`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.70.1`

[nabsolutions.nab-al-tools-unresponsive.cpuprofile.txt](https://github.com/jwikman/nab-al-tools/files/9358899/nabsolution

[2022-08-17 12:33] jwikman commented on #405
Thanks for reporting this @NKarolak.
Do you know what you did just before you got this? From what I see in the cpu profile (if I interpret this in the correct way...) it seems as if you only just started VSCode with an AL project, which triggered our extension to load...

Was it a big project?
Large XLF files or something like that?

[2022-08-17 12:39] NKarolak commented on #405
Yes, exactly. I just started VS Code with a workspace that loaded the apps.

About 350 files (including the test app), so rather yes?

.alpackages: > 35 MB
All 220 source files of the main app together < 2 MB
Three languages, each translation file about 1 MB.

[2022-08-17 13:17] jwikman commented on #405
I think our extension just got to be the victim here... 80% of the loading time is from the AL Language extension, if I'm correct.
I just can't see that our extension should cause this on startup.

I'm aware of that running some commands take quite some time on large projects, especially the first time - before we have cached thing...

Would you mind closing this as one time thing"?

If we get mor

[2022-08-17 13:21] NKarolak commented on #405
Sure, I understand.

[2022-09-13 07:09] tadly opened #407 "Feature/Question: Don't remove manually added trans-units"
**Is your feature request related to a problem? Please describe.**
I am in this awkward position where we have to change captions for pages provided by other Extensions and/or the Base Application.
As described in [this](https://github.com/microsoft/AL/issues/4954#issuecomment-546920119) issue, changing such a caption is done through overloading the trans-unit in your extensions `.xlf`.

The exten

[2022-09-13 19:46] jwikman commented on #407
Hi @tadly,

Do I get this right?
- You have an extension, with it's own objects and translations.
- With that extension you also want to modify the translations of other extensions (and/or BaseApp).
- To achieve that, you manually copy translation units (`trans-unit` element) from the other extension and adds that to your own translated xlf file, not the g.xlf file.

Have you considered to create

[2022-09-14 13:52] tadly commented on #407
yeah exactly.

I did considered this option briefly but given the amount of extensions we already have, I discarded it rather quickly without giving it much thought.

Thinking about it now, this would probably be cleanest approach as it doesn't force this project to do something weird like I described above (who knows if this causes issues down the line).

Guess we can close this issue already. Th

[2022-09-14 13:52] #407 closed

[2022-09-14 14:08] jwikman commented on #407
I would go for the cleanness of another app, but I know that it adds some overhead - but maybe it is worth the effort.

If it does not fit for you I had another idea on how to solve this:
- A new setting where you could point out one or more g.xlf files (would need help to name and document this setting 😅)
- When performing the  `NAB: Refresh XLF files from g.xlf` command, we could loop concatenat

[2022-09-15 05:58] tadly commented on #407
That's honestly not a terrible idea.
The temporarily generated g.xlf would at least still conform to the standart unlike with my proposal.

That said. Microsoft doesn't document the fact that you are able to overload translations at all? (I struggled really hard to find any information on if that's even possible)
So implementing your idea might be very specific to me.
That doesn't really warrent a

[2022-09-19 08:29] sschuh opened #408 "DragOver Report Label Captions do not show Translations"
hi,
maybe you have time to optimize this:

<img width="354" alt="image" src="https://user-images.githubusercontent.com/34685182/190978154-8ed31129-43d3-40fa-911e-519ac691210d.png">

[2022-09-19 08:49] jwikman commented on #408
Hi @sschuh,

What exactly do you want me to optimize?

The issue template logic seems to have misbehaved when you created the issue. It would help me a lot if you could use below as a template to describe your issue. 🙂

[code]

I'm sure that we could help you out with the above information!

[2022-09-19 15:18] sschuh commented on #408
**Describe the bug**
The OnHover seems not to work in case of report labels.
All other things in the report work fine.

**Versions used**
VSCode:
Version: 1.71.2 (user setup)
Commit: 74b1f979648cc44d385a2286793c226e611f59e7
Date: 2022-09-14T21:03:37.738Z
Electron: 19.0.12
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.22000
Sandboxed: No

NAB AL Tools:

[2022-09-19 16:07] jwikman commented on #408
Thanks for the additional information!

Your code and xlf seems perfectly legal, so there must be something fishy going on...

Can you please try to install the pre-release version of NAB AL Tools, v1.27.207261925?

![image](https://user-images.githubusercontent.com/23032645/191062364-8d06cc8e-4928-4bad-a488-f7c67d7b220d.png)

There has been some changes done in the parsing of some XLF related stu

[2022-09-19 16:15] sschuh commented on #408
I've already tried the Prerelease.
Unfortunately no change.

As additional info:
I work in a workspace.
But, i think, that's not the problem.

Do you have an idea with which information i could support you?

[2022-09-19 16:49] jwikman commented on #408
Ok.

One thing that definitely would give me a chance to fix this, is if you could create a mini project with a repro.

It could consist of only:
- a report with labels
- app.json
- g.xlf file
- translated xlf file

If you upload that here, and if that reproes for me, we're 90% of the way to a solution. 🙂

[2022-09-19 16:50] jwikman commented on #408
Forgot to say that workspace shouldn't matter...

[2022-09-19 19:55] jwikman commented on #408
Hi again,

I created a small repro app for this. If you unzip this and open in VSCode, do you get the translation OnHover of the label?
[ALProject1.zip](https://github.com/jwikman/nab-al-tools/files/9601957/ALProject1.zip)

Expected result:
![image](https://user-images.githubusercontent.com/23032645/191104324-d412a75d-a79c-44e4-9d78-13c190d0e72a.png)

If you get this to work, but not in your proje

[2022-09-20 06:49] sschuh commented on #408
I can reproduce this problem.
<img width="744" alt="image" src="https://user-images.githubusercontent.com/34685182/191186945-fd1713b8-d4d8-41ea-a5bc-328c5b99b6f4.png">

Attached the project:
[ALProject1.zip](https://github.com/jwikman/nab-al-tools/files/9604792/ALProject1.zip)

[2022-09-20 07:34] jwikman commented on #408
That is great, now I can repro as well!

Thanks for the help, I'll get back to you as soon as I had the time to dig into this.

[2022-09-26 05:57] NKarolak commented on #405
Now, I got the notification a second time on VS Code startup / repository load ... Please find the file attached.

- Issue Type: `Performance`
- Extension Name: `nab-al-tools`
- Extension Version: `1.27.207261925`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

[nabsolutions.nab-al-tools-unresponsive.cpuprofile.txt](https://github.com/jwikman/nab-al-tools/files/9643325/nabso

[2022-09-28 14:51] ernestasjuska opened #409 "Suggest phrases based existing translations when entering new translation text"
Hi,

One pain point in current editor is that whole target translation has to be entered manually when suitable translation if not found automatically. Then you have to go to the XLIFF file and search for similar source text.

It would be useful to have some kind of text autocompletion based on existing translations.
For example if you have translation "My Super Cool Field" -> "Mano labai kietas l

[2022-09-28 14:56] ernestasjuska commented on #409
For tooltips we use same format pretty much everywhere ("Specifies the value of the ... field." -> "Nurodo lauko ... reikšmę."). Could this be automatically suggested by the XLIFF editor?

[2022-09-29 13:55] jwikman opened #410 "Autosuggest translations for Tooltips"
For tooltips we use same format pretty much everywhere ("Specifies the value of the ... field." -> "Nurodo lauko ... reikšmę."). Could this be automatically suggested by the XLIFF editor?

_Originally posted by @ernestasjuska in https://github.com/jwikman/nab-al-tools/issues/409#issuecomment-1261039731_

[2022-09-29 13:56] jwikman commented on #410
@ernestasjuska, Please get this in the right way, but why do you even bother to add Tooltip if they do not add any extra value?

"Specifies the value of the ... field." does not say anything more than I already new. If you add autogenerated, non-value adding, captions you only add a lot of extra work for the translations.

In our AppSource apps we try to add some extra information in the Tooltip,

[2022-09-29 14:04] jwikman commented on #409
Hi @ernestasjuska,

Just to be sure I understand your issue:
You request a word/sentence completion in our XLIFF Editor, not in the XLF file, right?

If so, I might be able look into how to solve word completion, similar to how it works if you open the XLF file in text mode in VSCode. Adding a sentence completion will probably be waaay to complicated to solve, I'm afraid.

Would word completion in

[2022-09-29 14:29] jwikman commented on #405
Hi @NKarolak,

No, this might not be a co-incidence...

But in the attached CPU profile I could not find anything that my extension is explicitly doing...

But there seems to be a lot of loading of different modules, so I am suspecting that any of all the modules we have dependency on is causing this.
I've updated all those dependencies and it seems as if there has been quite a few changes in thos

[2022-09-29 15:17] jwikman commented on #405
I just had an idea to help us identify the issue, if it happens again.
Almost all extensions are running an `extension.js` file when they are being loaded, since that is the default name when creating a VSCode extension. I renamed our to `nab-al-tools.js` instead, so hopefully we can better identify our extension in a CPU Profile file.

Pre-release v1.27.209291511 was just released, with this chan

[2022-09-29 15:49] NKarolak commented on #405
Thanks Johannes, I will try it out 😊

[2022-09-29 15:49] #405 closed

[2022-09-30 05:25] ernestasjuska commented on #410
Yes, it does make sense to make to create useful tooltips.

[2022-09-30 07:02] jwikman commented on #410
@ernestasjuska ok, I'll proceed and close this one.

I hope I didn't scare you off by not agreeing with your suggestion. Keep on coming with good suggestions! 🙂

[2022-09-30 07:02] #410 closed

[2022-09-30 11:25] ernestasjuska commented on #409
Yes, the feature would in the XLIFF editor for entering translations. Word completion will suffice, it should also suggest words based on the previous word.

Words would be sequences of letters, single letter words should be allowed.

Words should be stored in lowercase, but when autocompleting the casing of the word should be decided by the previous word or current word first two letters:
- XXXX

[2022-10-03 07:49] theschitz commented on #409
Thank you for the detailed description and helpful references @ernestasjuska.

I'll look into developing this feature. At the moment there's little time and energy for me to spare so I won't promise when I'll start but I'll update this issue. In the mean time if you feel adventurous you are very welcome to have a stab at it yourself :+1:

[2022-11-14 12:42] AyoubChaouachi opened #416 "Refresh files from g.xlf failed with error: EPERM: operation not permitted"
**Describe the bug**
Refresh files from g.xlf failed with error: EPERM: operation not permitted

**Versions used**
VSCode: 1.73.1
NAB AL Tools: 1.28

**To Reproduce**
Refrech XLF files from g.xlf

[2022-11-14 14:12] jwikman commented on #416
Hi @AyoubChaouachi,

Do you get this error every time you run Refresh XLF functions?
Did it use to work on the same repo before?

[2022-11-14 14:27] AyoubChaouachi commented on #416
Hi @jwikman
yes I have this error when Refrech XLF for all projects and also when trying to create a new XLF file

[2022-11-14 14:29] AyoubChaouachi commented on #416
Hi @jwikman
The Error
Refresh files from g.xlf failed with error: EPERM: operation not permitted, open
..\.vscode\extensions\nabsolutions.nab-al-tools-1.28.0\dist\en-gb.json'

[2022-11-14 14:55] jwikman commented on #416
Since it did work last week on v1.26, but not this week with the same version, I am wondering if there could be some changes to the permissions of your user folder? The error message suggests that it is a permissions related issue.

I can see in the telemetry that you've got this error a LOT of times today 🙂, but no one else is experiencing the same error - so it hints that it is something on your

[2022-11-14 16:06] AyoubChaouachi commented on #416
Hello

The File exist when visual code is open ,When I close Visual the file disappears
The file is Empty
I have permission on the folder and I can create a specfic file

[2022-11-14 16:17] jwikman commented on #416
This is strange.

Can you please test the `NAB: Download Base App Translation files` function to see if you got the file downloaded. Could there be a firewall that is stopping the download of the files for base app translations?

Btw, if you are not using the Base App suggestions for translation there is a setting that disables that feature when running `Refresh XLF...` called `NAB.MatchBaseAppTra

[2022-11-14 17:02] AyoubChaouachi commented on #416
I have this issue when tryin Download of Base Application translation files
failed with error: Cannot read properties of undefined (reading 'status')
thank you for your suggestion indeed I don't have the issue anymore when disabling the proprety

[2022-11-14 17:27] theschitz commented on #416
Does the issue persist when running VS Code as administrator?

[2022-11-15 14:51] AyoubChaouachi commented on #416
Hi @theschitz
yes the same issue when running VS Code as administrator

[2022-11-17 21:30] TysvdHeuvel commented on #294
Hi @jwikman,

I bumped in to this discussion here because I was also looking for answers. But, for us / our translation tools it works the other way around. It expects the original to be the same in both the source and target documents.
Is this perhaps something you could turn into a setting?

Would be great if that would be possible.

Cheers, Tys

[2022-11-17 21:49] jwikman commented on #294
Hi @TysvdHeuvel,

I think we could add a setting for this behavior. I'll reopen this issue.

It could take some time before I'll have the time to look into it, so don't expect it to show up any day soon. :)

[2022-11-17 21:49] TysvdHeuvel commented on #294
@jwikman BTW, I looked into that Dynamics Translation Service (DTS), but that is a weird thing..
It sounds promising.. but then you read:

![image](https://user-images.githubusercontent.com/5374718/202566925-b123c626-7504-4a35-8e03-7a6425814378.png)

There is no Business Central support.. This is just for old AX, F&O, NAV.
And if you logon to https://lcs.dynamics.com/v2 , that portal where you are

[2022-11-17 21:55] jwikman commented on #294
Yeah, that site is not a nice one...

But it works just fine with Business Central xlf files.

And there is even an [VSCode extension](https://marketplace.visualstudio.com/items?itemName=dts-publisher.dts-vsc) for it as well, and it is created for BC Developers from what I read at https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/lifecycle-services/dts-vscode-doc
![image](https:

[2022-11-17 21:57] jwikman commented on #294
And you missed a detail in your screenshot @TysvdHeuvel  😎
![image](https://user-images.githubusercontent.com/23032645/202568437-b387f382-40aa-468f-afcc-433c435b17f3.png)

But I agree that there is quite a lot to wish for with both site usability and the documentations...

[2022-11-23 00:06] TysvdHeuvel commented on #294
After reading your remark here, i went back to the site..
because yes it turns out that BC was listed and I did not see it...
But, disappointment was just around the corner.. When you select NAV, next you have to fill in a mandatory field ... which has no options.

![image](https://user-images.githubusercontent.com/5374718/203445312-eb3ff749-8d53-4af3-9c95-598f1f56ea49.png)

[2022-11-23 08:12] jwikman commented on #294
@TysvdHeuvel that is strange.
I have the option "NAV default" in that field...
![image](https://user-images.githubusercontent.com/23032645/203497853-146d8ec9-a0b2-4357-838a-4498bc4b2417.png)

And when creating a new "Translation Request", I have the option to select BC:
![image](https://user-images.githubusercontent.com/23032645/203498250-9bc8b93b-2070-4319-bce0-21d2da45eb63.png)

[2022-11-28 18:10] aengrand commented on #408
Hi,

I'm not expert on this language. But, if you change the code below (ALParser.ts), this should fix the problem :

![image](https://user-images.githubusercontent.com/77336310/204349230-cfb5052f-e2da-4294-8c80-c079c372ad7b.png)

![image](https://user-images.githubusercontent.com/77336310/204349302-54db6bef-b449-4802-b575-03bbec052390.png)

On my side, that works
Best regards